@model KGERP.Service.Implementation.PortCountry.PortOfCountryVm
@using KGERP.Utility;
@{
    ViewData["Title"] = "Port Of Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;

}
<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }
</style>

<div class="text-center" style="padding:5px; background-color:#DCEFE5">
    <b>Add Port of Country</b>
</div>


@using (Html.BeginForm("AddOrEditPortofCountry", "Configuration", FormMethod.Post, new { id = "auditDocumentForm", @class = "formValidator" }))
{
    <section class="content mt-2">
        <div class="box">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.PortOfCountryId)

            <div class="box-danger">
                <div class="box-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PortName, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextAreaFor(model => model.PortName, new { @class = "form-control", rows = "1" })
                                    @Html.ValidationMessageFor(model => model.PortName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <select class="form-control" id="CountryId" name="CountryId" asp-for="CountryId">
                                                <option value="">--select Country--</option>
                                                @foreach (var g in Model.Countrylist)
                                                {
                                                    if (g.CountryId == Model.CountryId)
                                                    {
                                                        <option value="@g.CountryId" selected>@g.CountryName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@g.CountryId">@g.CountryName</option>
                                                    }
                                                }
                                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-0 mr-5 pull-right">
                        @*<button type="button" id="resetBtn" onclick="resetauditDocumentForm()" class="btn btn-primary btn-group-m">
                                <i class='fa fa-refresh'></i> <span>Reset</span>
                            </button>*@

                        @if (Model.PortOfCountryId == 0)
                        {
                            <button type="submit" id="createBtn" class="btn btn-primary btn-group-m">
                                <i class='fa fa-plus'></i> <span id="action_btn">Save</span>
                            </button>
                        }
                        else
                        {
                            <button type="submit" id="createBtn" class="btn btn-primary btn-group-m">
                                <i class='fa fa-plus'></i> <span id="action_btn">Update</span>
                            </button>
                        }




                    </div>
                </div>
            </div>
        </div>
    </section>

}



@section Scripts {
    <script type="text/javascript">


    </script>
}