@model KGERP.Service.Configuration.VMCommonSupplier
@{
    ViewBag.Title = "CustomerUplode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }
</style>
<div class="bg-w">
    <b Incentive Generate Detalis </b>
</div>

<div class="row">
    <div class="table-responsive col-md-12">

        <div class="text-center border " >
            <img style="border-radius:50%" src="/Upload/DownloadFTP?docid=@Model.ImageDocId" alt="No Image" />
            <h2>@Model.Name</h2>
        </div>
       <hr />
       <div class="box">
           <div class="box-header">

           </div>
           <div class="box-body">
               <div class="col-md-12">
                   <div class="col-md-1"></div>
                   <div class="col-md-10">
                       <table class="table">

                           <tr>
                               <th style="width:18%">
                                   Name
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   <label>@Model.Name</label>
                               </td>
                               <th style="width:18%"> Phone</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.Phone
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Email
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   <label>@Model.Email</label>
                               </td>
                               <th style="width:18%"> NID</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.NID
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Payment Method
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   <label>@Model.PaymentType</label>
                               </td>
                               <th style="width:18%"> Credit limit</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.CreditLimit
                               </td>
                           </tr>

                           <tr>
                               <th style="width:18%">
                                   Division
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   <label>@Model.Country</label>
                               </td>
                               <th style="width:18%"> District</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.District
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Upazila
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.Upazila
                               </td>
                               <th style="width:18%"> Zone Name</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.ZoneName
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Address
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.Address
                               </td>
                               <th style="width:18%"> Business Address</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.BusinessAddress
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Nominee Name
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.NomineeName
                               </td>
                               <th style="width:18%"> Nominee Relation</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.NomineeRelation
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Nominee Phone
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.NomineeNID
                               </td>
                               <th style="width:18%"> Nominee Relation</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.NomineeNID
                               </td>
                           </tr>

                           <tr>
                               <th style="width:18%">
                                   Credit Ratio From
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.CreditRatioFrom
                               </td>
                               <th style="width:18%"> Credit Ratio To</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.CreditRatioTo
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Credit Commission
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.CreditCommission
                               </td>
                               <th style="width:18%"> Payment Type</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.PaymentType
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Monthly Incentive
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.MonthlyIncentive
                               </td>
                               <th style="width:18%"> Yearly Incentive</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.YearlyIncentive
                               </td>
                           </tr>

                           <tr>
                               <th style="width:18%">
                                   Monthly Target
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.MonthlyTarget
                               </td>
                               <th style="width:18%">Yearly Target</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.YearlyTarget
                               </td>
                           </tr>

                           <tr>
                               <th style="width:18%">
                                   Condition
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.Condition
                               </td>
                               <th style="width:18%">Yearly Target</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   @Model.YearlyTarget
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Cash Commisssion
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   Cash Commisssion will be set based on Product Category Cash Commisssion.
                               </td>
                               <th style="width:18%">Base Commisssion</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   Base Commisssion will be set based on Product Subcategory Base Commisssion.
                               </td>
                           </tr>
                           <tr>
                               <th style="width:18%">
                                   Carrying Commission
                               </th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                   Carrying Commission will be set based on Upazila Factory Carrying Commission & Depo Carrying Commission.
                               </td>
                               <th style="width:18%">Closing Time</th>
                               <th style="width:2%">:</th>
                               <td style="width:30%">
                                  @Model.ClosingTime
                               </td>
                           </tr>


                       </table>
                   </div>
                   <div class="col-md-1"></div>

               </div>
             
           </div>
           <div class="box-footer">

           </div>
       </div>
       
    </div>
</div>

<fieldset class="border shadow  p-2" style="background-color:;padding:10px">

    @using (Html.BeginForm("CommonCustomeruplode", "Configuration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formReset" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.CompanyFK)

        <div class="table-wrapper attachment">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Add New File</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-sm" id="attachmentTable">
                <thead>
                    <tr>

                        <th style="width:30px">SL#</th>
                        <th style="width:200px">Attachment Title</th>
                        <th style="width:200px;text-align:center">Select or Download File</th>
                        <th style="width:30px;text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int o = 0; o < Model.Attachments.Count(); o++)
                    {
                        <tr>
                            <td class="sl"> @(o+1)</td>
                            <td hidden="hidden"> <input value="@Model.Attachments[@o].DocId" name="Attachments[@o].DocId" /> </td>
                            <td hidden="hidden"> <input value="@Model.Attachments[@o].DocId" name="Attachments[@o].DocId" /> </td>
                            <td><input class="form-control" readonly name="Attachments[@o].Title" value="@Model.Attachments[@o].Title" /></td>
                            <td style="text-align:center">
                                <input class="form-control-file hidden" type="file" name="Attachments[@o].File" />
                                @if (@Model.Attachments[@o].Extension == ".jpg" || @Model.Attachments[@o].Extension == ".jepg" || @Model.Attachments[@o].Extension == ".png")
                                {
                                    <img width="40" style="height:40px;border-radius:3c0px" src="/Upload/DownloadFTP?docid=@Model.Attachments[@o].DocId" alt="No Image" />
                                }
                                else
                                {
                                    <a target="_blank" class="btn btn-primary btn-sm" title="Download File" href="/Upload/DownloadFTP?docid=@Model.Attachments[o].DocId"> <i class="glyphicon glyphicon-download"> </i> </a>
                                }

                            </td>
                            <td style="text-align:center">
                                <a class="delete glyphicon glyphicon-trash" onclick="DeleteAttachment(@Model.Attachments[@o].DocId,@Model.CGId,event)" title="Delete" data-toggle="tooltip">

                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary" onsubmit="return submit2()" id="btnFArchive1">Upload</button>
                    <button type="reset" class="btn btn-danger d-none" id="btnCancel1">Cancel </button>
                </div>
            </div>
        </div>

    }
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>

        function myfunc() {

            $('#attachmentTable > tbody  > tr').each(function (index, tr) {
                $(tr).find(".sl").html(index + 1);
                $(tr).find(".docid").attr("name", "Attachments[" + index + "].DocId")
                $(tr).find(".title").attr("name", "Attachments[" + index + "].Title")
                $(tr).find(".file").attr("name", "Attachments[" + index + "].File")

                console.log(tr);
            });
            //console.log(valueList);

            //console.log("(" + valueList.join("),(") + ")");
        }


        function collaction(InstallmentId) {

            $("#InstallmentId").val(InstallmentId);
        }



        $(document).ready(function () {
            $(".alert-danger").hide();
            $('[data-toggle="tooltip"]').tooltip();
            var actions = '<a class="delete glyphicon glyphicon-trash" onclick="DeleteAttachment(0,0,event)" title="Delete" data-toggle="tooltip"></a>';
            // Append table with add row form on add new button click
            $(".add-new").click(function () {
                /*$(this).attr("disabled", "disabled");*/
                var index = $("#attachmentTable tbody tr:last-child").index();
                var row = '<tr>' +
                    '<td class="sl"></td> <td hidden="hidden"> <input class="docid" value="0" name="Attachments[0].DocId" /> </td>' +
                    '<td><input class="form-control title" required  name="Attachments[0].Title"/></td>' +
                    '<td><input class="form-control-file file" required type="file" name="Attachments[0].File"/></td>' +
                    '<td style="text-align:center">' + actions + '</td>' +
                    '</tr>';
                $("#attachmentTable").append(row);
                myfunc();
                /*$("#attachmentTable tbody tr").eq(index + 1).find(".add, .edit").toggle();*/
                /*$('[data-toggle="tooltip"]').tooltip();*/
            });
            //#attachmentTable

            // Add row on add button click
            $(document).on("click", ".add", function () {
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function () {
                    if (!$(this).val()) {
                        $(this).addClass("error");
                        empty = true;
                    } else {
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();
                if (!empty) {
                    input.each(function () {
                        $(this).parent("td").html($(this).val());
                    });
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function () {
                $(this).parents("tr").find("td:not(:last-child)").each(function () {
                    $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });



        });



        function DeleteAttachment(docid, cgid, event) {
            var x = event;
            console.log(event);
            $.confirm({
                title: "",
                content: "<span class='alert_content'> Do you want to delete this file? </span>",
                columnClass: 'small',
                buttons: {
                    confirm: {
                        text: "<span class='alert_text'>Yes</span>",
                        btnClass: 'btn-warning',
                        keys: ['enter'],
                        action: function () {
                            if (docid > 0 && cgid > 0) {
                                $.ajax({
                                    type: "post",
                                    url: "/ProductBooking/CGFileDelete",
                                    data: { docId: docid, CGId: cgid },
                                    datatype: "json",
                                    traditional: true,
                                    success: function (data) {
                                        console.log(data);
                                        if (data) {
                                            $(x.path[2]).remove();
                                            myfunc();
                                        } else {

                                        }
                                    }
                                });

                            } else {
                                $(x.path[2]).remove();
                                //$(".add-new").removeAttr("disabled");
                            }

                            myfunc();
                        }
                    },
                    cancel: {
                        text: "No",
                        btnClass: 'btn-blue',
                        keys: ['esc'],
                        //action: function () {
                        //    $(x.path[3]).remove();
                        //    //$(".add-new").removeAttr("disabled");
                        //    myfunc();
                        //}
                    }
                }
            });

        }
    </script>

}
