@model  KGERP.Service.ServiceModel.FTP_Models.FileViewModel
@{
    var message = TempData["successMessage"];

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            নতুন কার্যতালিকা তৈরি করুন
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">ই আর পি কার্যতালিকা</li>
    </ol>
</section>


@using (Html.BeginForm("ErpWorkingUpDate", "Configuration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formReset", id = "myForm" }))
{
    <div class="box">
        <div class="box-danger">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("শিরোনাম", htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.fileTitle, new { htmlAttributes = new { @class = "form-control", id = "fileTitleInput" } })
                            <span id="fileTitleError" class="text-danger" style="display:none;">Title is required</span>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("তারিখ", htmlAttributes: new { @class = "control-label" })
                            <div style="display:flex">
                                @Html.TextBoxFor(model => model.Recdate, new { @class = "form-control", @id = "datepicker", data_val = "false" })

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.Label("ফাইল বেছে নিন", htmlAttributes: new { @class = "control-label" })
                            <input name="file" type="file" accept="*" multiple />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="reset" class="btn btn-danger d-none" id="btnCancel1" style="width:100%">ক্যান্সেল </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="width:100%">সংরক্ষণ করুন </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script>
        $('#datepicker').datepicker({
            dateFormat: "yy/mm/dd",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });

        document.getElementById("myForm").onsubmit = function () {
            var fileTitle = document.getElementById("fileTitleInput").value.trim();
            var recDate = document.getElementById("datepicker").value.trim();
            var files = document.querySelector('input[type="file"]').files;

            if (fileTitle === "") {
                document.getElementById("fileTitleError").style.display = "block";
                return false; // Prevent form submission
            } else {
                document.getElementById("fileTitleError").style.display = "none";
            }

            if (recDate === "") {
                // Display error message or handle validation for date field
                // For example:
                alert("Please select a date");
                return false; // Prevent form submission
            }

            if (files.length === 0) {
                // Display error message or handle validation for file input field
                // For example:
                alert("Please select a file");
                return false; // Prevent form submission
            }

            return true; // Allow form submission
        };
    </script>

}













