@model KGERP.Service.ServiceModel.IncentiveModels.IncentiveCalculationViewModel

@{
    ViewBag.Title = "Payment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    h3 {
        margin-top: 11px !important;
        margin-bottom: -5px !important;
    }

    input, select, textarea {
        max-width: 100%;
    }

    .ui-front {
        z-index: 2100 !important;
    }

    .ui-datepicker {
        z-index: 2100 !important;
    }

    @@media (min-width: 768px) {
        .modal-content {
            width: 750px;
        }
    }

    .input-group {
        width: 100% !important;
    }

    .mb-2 {
        margin-bottom: 15px !important;
    }

    .input-group .form-control {
        max-width: 100%;
    }

    .badge-primary {
        color: #fff;
        background-color: #007bff;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-dark {
        color: #fff;
        background-color: #343a40;
    }

    .badge-info {
        color: #fff;
        background-color: #17a2b8;
    }

    .content-header {
        position: relative;
        padding: 0px 15px 20px 5px;
        background-color: #4caf5029 !important;
    }

    .list-group-horizontal {
        -ms-flex-direction: !important;
        flex-direction: row !important;
    }

    .list-group {
        display: -ms-flexbox;
        display: flex !important;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
    }
</style>
<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3>
                Incentive Calculation
            </h3>
        </div>
    </div>
</section>

<div class="row">

    <div class="col-md-3">
        <div class="form-group">
            <label>Project</label>
            @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.ProjectList, "Value", "Text"), "==Select Project==", new { id = "ddlProjectId", @class = "form-control", required = "required", style = "max-width:100%" })
            @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>File Info</label>
            @Html.DropDownListFor(model => model.CGId, Model.GroupList as SelectList, "==Select File No==", new { id = "ddlCGId", @class = "form-control searchingDropdown", required = "required", style = "max-width:100%" })
            @Html.ValidationMessageFor(model => model.CGId, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="col-md-3" style="margin-top:24px;float:left">
        <button class="btn btn-primary" onclick="getfileinfo()"> Add File </button>
    </div>
</div>



<div class="mt-4" id="objectinformation" style="margin-top:20px;margin-bottom:20px">

</div>
@using (Html.BeginForm("Index", "IncentiveCalculation", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CompanyId, new { @id = "companyId" })
    <table class="table table-bordered" id="checklist" style="margin-top:20px">
        <thead>
            <tr>
                <th>#</th>
                <th>File No</th>
                <th> Total File Value </th>
                <th>Total Collaction</th>
                <th>Collaction Percentage</th>
                <th>Incentive Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="datashowlist">
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label"> Booking Date <b style="color:red"> *</b> </label>
                <div style="display:flex">
                    <input type="text" name="BookingDateString" id="txtBookingDate" value="@Model.BookingDateString" class="form-control datepickeronPage" />
                    @Html.ValidationMessageFor(model => model.BookingDateString, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-2" style="margin-top:22px">
            <button type="submit" class="btn btn-primary">Incentive Confirm</button>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        $('.datepickeronPage').datepicker({
            dateFormat: 'dd-M-yy',
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "1950:+150"
        });

    let datalist = [];

    $("#ddlProjectId").change(function () {
        var projectId = $("#ddlProjectId").val();
        console.log(projectId);
            $.ajax({
                  type: "GET",
                  url: "@Url.Action("GetGroupListByProjectIdforIncentive", "RealStateMoneyReceipt")",
                  datatype: "Json",
                    data: { companyId: "@Model.CompanyId", projectId: projectId },
                success: function (data) {
                    console.log("ok done",data);
                      if (data) {
                          $("#ddlCGId").empty();
                          $("#ddlCGId").append("<option value=''>==Select File No==</option>");
                          $(data).each(function (index, item) {
                              $("#ddlCGId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                          });

                      }
                  }
            });
        });

    function getfileinfo() {
        var cgid = $("#ddlCGId").val();
                   $.ajax({
                  type: "GET",
                  url: "@Url.Action("Get", "IncentiveCalculation")",
                  datatype: "Json",
                       data: { companyid:'@Model.CompanyId',Cgid:cgid},
                   success: function (data) {
                    console.log("ok done",data);
                      if (data) {
                          var object = { CGId: data.CGId, SalePersone: data.SalePersone, Bookingid: data.Bookingid, Fileno: data.Fileno, TotalFileValue: data.TotalFileValue, TotalCollaction: data.TotalCollaction, TotalCollactionPercentage: data.TotalCollactionPercentage, IsIncentive: data.IsIncentive, IncentiveAmount: data.IncentiveAmount }
                          if (data.IsIncentive == true) {
                              var res = datalist.find(x => x.CGId == data.CGId);
                              console.log("fffffff",res);
                              if (res==null) {
                                  datalist.push(object);
                                  lodedata();
                              }

                          } else {
                              let html = "";
                              $("#objectinformation").empty();
                              html += ' <ul class="list-group list-group-horizontal">';
                              html += '<li class="list-group-item"><b>Total File Value : ' + data.TotalFileValue +'</b></li>';
                              html += '<li class="list-group-item"><b>Total Collaction : ' + data.TotalCollaction +'</b></li>';
                              html += '<li class="list-group-item"><b>Percentage : ' + data.TotalCollactionPercentage.toFixed(2)+' % </b></li>';
                              html += '<li class="list-group-item text-danger"><b> Bill Collaction more then 20% </b></li>';
                              html += '</ul>';
                              $('#objectinformation').html(html);
                          }

                      }
                  }
            });
    }

    function lodedata() {
        let tag = '';
        let TotalIncentive = 0;
        $("#datashowlist").empty();
        $("#objectinformation").empty();
        $.each(datalist, function (key, item) {
            tag += '<tr id="' + key + '">';
            tag += '<td> ' + (key + 1) + '</td>';
            tag += '<td><input  type="hidden" name="MappVm[' + key + '].CGId" value="' + item.CGId + '"/><input  type="hidden" id="' + key + item.Fileno + '" name="MappVm[' + key + '].Fileno" value="' + item.Fileno + '"/>' + item.Fileno + '</td>';
            tag += '<td> <input  type="hidden" name="MappVm[' + key + '].SalePersone" value="' + item.SalePersone + '"/> <input  type="hidden" id="' + key + item.TotalFileValue + '" name="MappVm[' + key + '].TotalFileValue" value="' + item.TotalFileValue + '"/>' + item.TotalFileValue + '</td>';
            tag += '<td><input  type="hidden" id="' + key + item.TotalCollaction + '" name="MappVm[' + key + '].TotalCollaction" value="' + item.TotalCollaction + '"/>' + item.TotalCollaction + '</td>';
            tag += '<td><input  type="hidden" id="' + key + item.TotalCollactionPercentage.toFixed(2) + '" name="MappVm[' + key + '].TotalCollactionPercentage" value="' + item.TotalCollactionPercentage.toFixed(2) + '"/>' + item.TotalCollactionPercentage.toFixed(2) + ' %</td>';
            tag += '<td><input  type="hidden" id="' + key + item.IncentiveAmount + '" name="MappVm[' + key + '].IncentiveAmount" value="' + item.IncentiveAmount + '"/>' + item.IncentiveAmount + '</td>';
            tag += '<td> <a onclick="removecell(' + item.CGId + ',' + key + ')" class=" btn-danger btn-flat btn-sm sm"> <i class="fa fa-trash"></i></a>  </td>';
            tag += '</tr>';
            TotalIncentive += item.IncentiveAmount;
        });
        tag += '<tr>';
        tag += '<td colspan="5" style="text-align: right;"> <b>Total Incentive </b></td>';
        tag += '<td colspan="2" style="text-align: left;">' + TotalIncentive +' </td>';
        tag += '</tr>';

        $('#datashowlist').html(tag);
        var countid = datalist.length;
    }
    function removecell(id, key) {
        if (confirm("Are you sure to remove this?")) {
            datalist.splice(datalist.findIndex(x => x.CGId == id), 1);
            $("#" + key).remove();
            lodedata();
        } else {
            lodedata();
        }
    }
    </script>

}
