@model KGERP.Service.Implementation.KfmlInstallments.IKfml_InstallmentViewModel
@{
    ViewBag.Title = "ViewDetalis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*Attachment table Css*/
    .alert-warning, .label-warning, .modal-warning .modal-body {
        background-color: #f5c5a926 !important;
        color: #000 !important;
    }

    .alert .close {
        color: #fff;
        opacity: 2.2;
    }

    .approval {
        padding: 10px 10px;
        background: #87bf87;
        border: 1px solid #87bf87;
        /* border-radius: 30px;*/
    }

    .approval-no {
        padding: 10px 10px;
        background: #a8b1a833;
        border: 1px solid #a8b1a833;
        border-radius: 30px;
    }

    .approval-no-re {
        padding: 10px 10px;
        background: #891919;
        border: 1px solid red;
        border-radius: 30px;
        color: #fff;
    }

    button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: #f10f0f8f;
        border: 0;
    }

    .table-wrapper {
        max-width: 100%;
        margin: auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    /*   table.table {
        table-layout: fixed;
    }*/

    .attachment table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }

    .attachment table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    .attachment table.table th:last-child {
        width: 100px;
    }

    .attachment table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

        .attachment table.table td a.add {
            color: #27C46B;
        }

        .attachment table.table td a.edit {
            color: #FFC107;
        }

        .attachment table.table td a.delete {
            color: #E34724;
        }

    .attachment table.table td i {
        font-size: 19px;
    }

    .attachment table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    .attachment table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

        .attachment table.table .form-control.error {
            border-color: #f50000;
        }

    .attachment table.table td .add {
        display: none;
    }

    /*Attachment table Css*/

    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }

    .modal-header .close {
        margin-top: -18px;
    }

    .hiddenRow {
        padding: 0 !important;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        /* border-top: 1px solid #f4f4f4; */
        border-top: 1px solid #dbdbdb !important;
    }

    .accordion .hj:after {
        content: "+";
        float: right;
    }

    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "-";
    }

    .preview {
        height: 100px;
    }

    .cloud-uplode-btn {
        background: #009688;
        padding: 16px 22px;
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        color: #fff;
        border: 1px solid #009688;
    }

        .cloud-uplode-btn:hover {
            background: #fff;
            color: #009688;
        }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 8px solid #fff !important;
    }

    .alert {
        padding: 10px !important;
    }

    .alert-dismissable .close, .alert-dismissible .close {
        position: relative;
        top: -8px;
        right: -7px;
    }

    .badge-primary {
        color: #fff;
        background-color: #007bff;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-dark {
        color: #fff;
        background-color: #343a40;
    }

    .badge-info {
        color: #fff;
        background-color: #17a2b8;
    }
</style>

<div class="bg-w">
    <b>General Information </b>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th style="width:18%">
                Name of Applicant
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.ClientName</label>
            </td>
            <th style="width:18%"> Booking Date</th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.BookingDate == null)
                { }
                else
                {@Model.BookingDate.Value.ToLongDateString();
                }
            </td>
        </tr>

        <tr>
            <th style="width:18%">
                Contact No
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.ClientPhone</label>
            </td>
            <th style="width:18%"> Contact Address</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.ClientAddress</td>
        </tr>
        <tr>
            <th style="width:18%">
                Email
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.ClientEmail</label>
            </td>
            <th style="width:18%"> Product</th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @Model.ProductName
            </td>
        </tr>




        <tr>

            <th style="width:18%"> Booking No</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.BookingNo</td>


            <th style="width:18%"> File No</th>
            <th style="width:2%"> :</th>
            <td style="width:30%;text-align:left">
                <a href="/Report/KfmalBookingInformation?companyId=@Model.CompanyId&&CGId=@Model.BookingId">@Model.FileNo</a>
            </td>
        </tr>
    </table>
</div>



<div class="bg-w" style="margin-top:10px;">
    <b> Mode of Payment </b>
</div>

<div class="table-responsive">
    <table class="table">
        @{int sl = 1;


        }
        <thead>
            <tr>
                <th>
                    SL
                </th>
                <th>
                    Cost Head
                </th>

                <th>
                    Amount
                </th>

        </thead>
        <tbody>
            <tr>
                <td> 1</td>
                <td>
                    <b> Product Value </b>
                </td>
                <td>
                    <b> @Model.ProductValue</b>
                </td>
            </tr>
            @foreach (var item in Model.LstPurchaseCostHeads)
            {
            if (item.Amount > 0)
            {
            <tr>
                <td>
                    @(++sl)
                </td>
                <td>
                    @item.CostName
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
            }
            }

            <tr>
                <td colspan="2" class="text-right">
                    <b> Total Amount : </b>
                </td>
                <td>
                    @Model.TotalAmount
                </td>

            </tr>


            <tr>
                <td>Discount (Land Value) </td>
                <td> @Model.Discount % </td>
                <td>
                    @((Model.ProductValue/100m) * Convert.ToDecimal(Model.Discount))
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">  <b> Special Discount :</b> </td>

                <td>
                    @Model.SpecialDiscountAmt
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">  <b> Total Discount :</b> </td>

                <td>
                    @Model.TotalDiscount
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">
                    <b>Grand Total :</b>
                </td>
                <td> @Model.GrandTotalAmount  </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">
                    <b>Booking Money :</b>
                </td>
                <td> @Model.BookingMoney  </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <b>Rest of Amount :</b>
                </td>
                <td> @Model.RestofAmount  </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">
                    <b>Interest Amount :</b>
                </td>
                <td> @Model.InterestAmount  </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <b>Installment Amount :</b>
                </td>
                <td> @(Model.InstallmentAmount )  </td>
            </tr>

        </tbody>
    </table>
</div>

@if (Model.InstallmentAmount != Model.InstallmentSumOfAmount)
{
<div class="" style="position: relative; padding: 0.75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: 0.25rem; color: #721c24; background-color: #f8d7da; border-color: #f5c6cb; display: block !important ">
    <b> Installment Amount = @(Model.InstallmentAmount) </b>  <br />
    <b> Installment Sum Of Amount =  @(Model.InstallmentSumOfAmount)</b> <br />
    <b> Total fraction = @(Model.InstallmentAmount- Model.InstallmentSumOfAmount)</b>

</div>
}

<div class="bg-w">
    <b> Installment Schedule </b>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    SL
                </th>
                <th>
                    Installment Title
                </th>

                <th>
                    Installment Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    PaidAmount
                </th>
                <th>
                    Action
                </th>
        </thead>

        @{int sl1 = 0;
        }
        <tbody>
            @foreach (var item in Model.ScheduleVM)
            {

            <tr>
                <td>
                    @(++sl1)
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.InstallmentDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.PayableAmount
                </td>
                <td>
                    @item.PaidAmount
                </td>
                <td>
                    @{ if (item.IsPaid)
                    {
                    <button type="button" class="btn btn-dark" disabled> Paid</button>
                    }
                    else
                    {
                    <a disabled class="btn btn-success"> Collect OnGoing</a>

                    }
                    @*if (item.PaidAmount == 0)
                    {
                    <a class="btn btn-primary" id="EditSchedule" onclick="editinstall(@item.InstallmentId)" data-toggle="modal" data-target="#Editmodal2">
                        <i class="fa fa-pencil"></i>
                    </a>
                    }*@

                    }
                </td>

            </tr>

            }

            <tr>
                <td colspan="3" class="text-right"> <b> Total Installment Amount :</b>  </td>
                <td colspan="3"> <b> @Model.InstallmentSumOfAmount </b></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" style="margin-top:40px">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4" style="text-align:center">
        @if (!Model.IsSubmitted)
        {
            <button value="Submit" style="width:100%" class="btn btn-md btn-primary" type="submit" data-toggle="modal" data-target="#BookingSubmitModal"> Submit </button>

        }
        else
        {
            <button style="width:100%" class="btn btn-md btn-success" type="button" > Submitted Successfully </button>

        }
    </div>
    <div class="col-sm-4 col-md-4"></div>

</div>

<!--Booking Submit Modal -->
<div class="modal fade" id="BookingSubmitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"><span id="dvname"> Booking FileNo : @Model.FileNo </span></h4>
                <button type="button" class="close bg-danger" style="opacity:1;" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("finalsubmit", "Kfml_Installment", FormMethod.Post))
            {
            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CompanyId, new { @id = "SCompanyId" })
                @Html.HiddenFor(m => m.BookingNo, new { @id = "BookingNo" })
                @Html.HiddenFor(m => m.BookingId, new { @id = "SBookingId" })
                @Html.HiddenFor(m => m.ProductId, new { @id = "subProductProductId" })
                @Html.HiddenFor(m => m.BookingDate, new { @id = "BookingDate" })

                <h4 class="mt-2 text-danger"> Are you sure Confirm this!.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <input value=" Confirm Submit" class="btn btn-md btn-success" type="submit" style="width:100%" />
            </div>
            }
        </div>
    </div>
</div>
