@model KGERP.Services.Procurement.VMPurchaseOrderSlave
@using KG.Core.Services

<div class="row">
    <div class="col-lg-12">
        @{
            int styleScheduleCount = Model.DataListPur.Count();

            if (styleScheduleCount > 0)
            {
                int sl = 1;
                <div class="table-responsive">

                    <table class="table table-bordered text-nowrap">

                        <thead>
                                    <tr class="bg-success">
                                        <th>SL</th>
                                        <th>Raw Material</th>
                                        <th>Allocated Qty</th>
                                        <th>Requested Qty</th>
                                        <th>Request Qty</th>
                                        <th>Unit</th>

                                    </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataListPur.Count(); i++)
                            {
                            <tr>
                                <th>

                                    @Html.HiddenFor(model => model.DataListPur[i].Common_ProductFK)
                                    @Html.HiddenFor(model => model.DataListPur[i].FinishProductBOMId)
                                    @(i + 1)
                                </th>

                                <td>
                                    @Html.DisplayFor(model => model.DataListPur[i].ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataListPur[i].RequisitionQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataListPur[i].RequestedQuantity)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.DataListPur[i].RequiredQuantity, new { id = "txtRequiredQuantity", @Value = Model.DataListPur[i].RequiredQuantity, @class = "form-control" })

                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.DataListPur[i].UnitName)
                                </td>


                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8">

                    </div>


                </div>

            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    RM Comsumption are not ready yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }
        }

    </div>
</div>

<script>
    $(document).ready(function () {
         

    });


</script>
