@model KGERP.Service.HR_Pay_Roll_Service.PRoll_Cash_Payment.PRoll_CashPaymentViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "CashPaymentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }
</style>
<div class="bg-w">
    <b> Cash Payment list </b>
</div>

<a href="~/PRoll_Cash_Payments/AddPayment?companyId=@Model.CompanyId" class="btn btn-primary pull-right">Add New</a>


<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Company</th>
                <th>EmployeeId</th>
                <th>Employee Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.CashPaymentList)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td> @item.CompanyName</td>
                    <td> @item.EmployeeIdKG</td>
                    <td> @item.EmployeeName</td>
                    <td>
                        @((MonthList)item.Month + ", "+ item.Year)
                    </td>
                    <td> @item.Amount</td>
                    <td> @item.CreatedBy</td>
                    <td> @item.CreatedDate.ToShortDateString()</td>
                    <td class="text-center">
                        <a href="/PRoll_Cash_Payments/Delete?id=@item.CashPaymentId" onclick="return confirm('Are you sure you want to delete?');" title="Delete Employee" class="btn btn-danger btn-xs">
                            <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>