@model KGERP.Service.HR_Pay_Roll_Service.PRoll_SalaryConfiguration_Services.PRoll_SalaryConfigurationViewModel
@{
    ViewBag.Title = "Salary_ConfigurationList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    decimal basic = 0;
    decimal houseRent = 0;
    decimal medical = 0;
    decimal transportation = 0;
    decimal mobileBill = 0;
    decimal gross = 0;
    decimal tax_D = 0;
    decimal welfare_D = 0;
    decimal pfund = 0;
}
<style>
    .bg-div {
        padding: 1.15rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
        text-align: center
    }

    .select2-container .select2-selection--single {
        width: 567px !important;
    }
</style>

<div class="bg-div ">
    <h4> <b>Salary Configuration List @Model.CompanyName </b> </h4>
</div>
<a href="~/PRoll_Salary_Configuration/Salary_Configuration?companyId=@Model.CompanyId" class="btn btn-primary pull-right">Add New</a>

<section class="content-header mt-3">
    <div class="">
        <div class="card">
            <div class="card-body">


                <div class="table-responsive col-md-12">
                    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                        <thead>
                            <tr>
                                <th>SL</th>

                                <th>Name</th>
                                <th>Basic</th>
                                <th>Is Allocated</th>
                                <th>HouseRent</th>
                                <th>Medical</th>
                                <th>Transportation</th>
                                <th>Mobile Bill</th>
                                <th>Gross</th>
                                <th>Tax</th>
                                <th>Welfare</th>
                                <th>Provident Fund</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.SalaryConfigurationList)
                            {

                                basic += item.Basic;
                                houseRent += item.HouseRent;
                                medical += item.Medical;
                                transportation += item.Transportation;
                                mobileBill += item.MobileBill;
                                gross += item.Gross;
                                tax_D += item.Tax_D;
                                welfare_D += item.Welfare_D;
                                pfund = (item.Basic / 100) * item.ProvidentFund_D;
                                <tr>
                                    <td>@(++sl)</td>

                                    <td>
                                        @item.EmployeeName
                                    </td>
                                    <td> @item.Basic</td>
                                    <td>
                                        @if (item.IsBonusAllowed)
                                        {
                                            <i class="text-success fa fa-check"></i>
                                        }
                                        else
                                        {
                                            <i class="text-danger  fa fa-remove"></i>
                                        }




                                    </td>
                                    <td> @item.HouseRent</td>
                                    <td> @item.Medical</td>
                                    <td> @item.Transportation</td>
                                    <td> @item.MobileBill</td>
                                    <td> @item.Gross</td>
                                    <td> @item.Tax_D</td>
                                    <td> @item.Welfare_D</td>
                                    <td> @((item.Basic/100) * item.ProvidentFund_D)</td>
                                    <td class="text-center">

                                        <a href="/PRoll_Salary_Configuration/Salary_ConfigurationUpdate?id=@item.SalaryConfigurationId" target="_blank" class="btn btn-primary btn-xs">
                                            Update
                                        </a>
                                        <a href="/PRoll_Salary_Configuration/Salary_ConfigurationDetalis?id=@item.SalaryConfigurationId" target="_blank" class="btn btn-warning btn-xs">
                                            Details
                                        </a>
                                        <a href="/PRoll_Salary_Configuration/Salary_ConfigurationDelete?id=@item.SalaryConfigurationId" onclick="return confirm('Are you sure you want to delete?');" title="Delete Employee" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2"> </td>

                                <th> @basic</th>
                                <th> @houseRent</th>
                                <th> @medical</th>
                                <th> @transportation</th>
                                <th> @mobileBill</th>
                                <th> @gross</th>
                                <th> @tax_D</th>
                                <th> @welfare_D</th>
                                <th> @pfund</th>
                                <th class="text-center">



                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            </div>
        </div>
    </div>
</section>
