@model KGERP.Service.HR_Pay_Roll_Service.PRoll_SalaryConfiguration_Services.PRoll_SalaryConfigurationViewModel
@{
    ViewBag.Title = "Salary_ConfigurationDetalis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bg-div {
        padding: 1.15rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
        text-align:center
    }

    .select2-container .select2-selection--single {
        width: 567px !important;
    }
</style>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="bg-div ">
            <h4> <b> @Model.EmployeeName Salary Configuration Detalis </b> </h4>
        </div>

        <section class="content-header mt-3">
            <div class="">
                <div class="card">
                    <div class="card-body">
                        <div class="mt-4" style="margin-bottom:20px;border:1px solid dashed">
                            <b>Name: @Model.EmployeeName</b> <br />
                            <b>CompanyName: @Model.CompanyName</b><br />
                        </div>
                        <table style="width: 100%;margin-bottom:60px">
                            <tbody>
                                <tr style="margin-bottom:15px">
                                    <th style="width:30%"> Basic Pay </th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.Basic </td>
                                </tr>
                                <tr style="margin-bottom:15px">
                                    <th style="width:30%"> House Rent </th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.HouseRent </td>
                                </tr>
                                <tr style="margin-bottom:15px">
                                    <th style="width:30%"> Medical</th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.Medical </td>
                                </tr>
                                <tr style="margin-bottom:15px">
                                    <th style="width:30%"> Transportation</th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.Transportation </td>
                                </tr>
                                <tr style="margin-bottom:25px">
                                    <th style="width:30%"> Mobile Bill</th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.MobileBill </td>
                                </tr>

                                <tr style="margin-bottom:25px">
                                    <th style="width:30%"> Gross Salary</th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.Gross </td>
                                </tr>


                                @*<tr style="margin-bottom:15px;border-top:double">
                                   <th style="width:30%"></th>
                                   <th style="width:40%;text-align:right"> Gross </th>
                                  <td style="width:30%;text-align:right"> @(Model.MobileBill+ Model.Transportation+ Model.Medical+ Model.HouseRent+ Model.Basic) </td>
                               </tr>*@


                                <tr style="margin-bottom:25px">
                                    <th style="width:30%"> Tax </th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.Tax_D </td>
                                </tr>

                                <tr style="margin-bottom:25px">
                                    <th style="width:30%"> Provident Fund </th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @((Model.Basic/100)*Model.ProvidentFund_D) </td>
                                </tr>
                                <tr style="margin-bottom:25px">
                                    <th style="width:30%"> Welfare </th>
                                    <th style="width:40%">...............................................................</th>
                                    <td style="width:30%;text-align:right"> @Model.Welfare_D </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="col-md-2"></div>
</div>





