@model KGERP.Service.JobService.JobDescriptionModel
@using KGERP.Utility;


@{
    ViewData["Title"] = "Job Description";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>

        Job Description

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Job Description</li>
    </ol>
</section>

<section>
     <div class="row">
         <div class="box">
             <div class="col-md-1"> </div>
             <div class="col-md-10">
                 <table class="table">
                     
                     <tr>


                         <td width="18%"><b>Employee Id</b></td>
                         <td width="5%">:</td>
                         <td width="27%">@Model.KGEmployeeId</td>
                         <td width="18%"><b>Employee Name</b></td>
                         <td width="5%">:</td>
                         <td width="27%">@Model.EmployeeName</td>
                     </tr>
                     
                     <tr>
                         <td><b>Department</b></td>
                         <td>:</td>
                         <td>@Model.DepartmentName</td>

                         <td><b>Designation</b></td>
                         <td>:</td>
                         <td>@Model.DesignationName</td>
                     </tr>
                 </table>
             </div>
             <div class="col-md-1"> </div>


             @using (Html.BeginForm("AddJobDescription", "JobDescription", FormMethod.Post, new { id = "AddJobDescriptionfromId", @class = "formValidator" }))
             {



                 @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                 @Html.HiddenFor(model => model.EmployeeId, new { id = "EmployeeId" })



                 <div class="box-danger">

                     <!-- /.box-header -->
                     <div class="box-body">
                         <div class="row">
                             <div class="col-md-3">
                                 <div class="form-group">
                                     <label for="message-text" class="col-form-label">Type:</label>
                                     @Html.DropDownListFor(model => model.JobDescriptionTypeId, Model.JobDescriptionTypeList as SelectList, "==Select Type==", new { id = "ddlStockInfoId", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                     @Html.ValidationMessageFor(model => model.JobDescriptionTypeId, "", new { @class = "text-danger" })
                                 </div>
                             </div>

                             <div class="col-md-9">
                                 <div class="form-group">
                                     <label>Job Description</label>
                                     @Html.TextAreaFor(model => model.Description, new { id = "Description", @class = "form-control", placeholder = "Delivery Address", rows = 3 })
                                     @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                 </div>
                             </div>



                         </div>


                         <div class="box-footer">
                             <div class="row">
                                 <div class="col-md-5"></div>
                                 <div class="col-md-2 " style="margin-top:20px">
                                     <input type="submit" value="Save" style="width:100%;height:45px" class="btn btn-primary" />
                                 </div>
                                 <div class="col-md-5 "></div>
                             </div>
                         </div>

                     </div>

                 </div>


             }
         </div>

         <div class="box">
           

                 <div class="box-danger">

                     <!-- /.box-header -->
                     <div class="box-body">
                         <div class="table-responsive col-md-12">
                             <table id="KgErpDataTable" class="table table-striped" width="100%">
                                 <thead>
                                     <tr>
                                         <th>SL</th>
                                         <th>Type</th>
                                         <th>Job Description</th>
                                         <th>Action</th>

                                     </tr>
                                 </thead>
                                 <tbody>
                                     @foreach (var item in Model.DataList)
                                     {


                                         <tr>
                                             <th>@(++sl)</th>
                                              <td>@item.DescriptionTypeName</td>
                                              <td>@item.Description</td>

                                             <td>
                                                 

                                             </td>


                                         </tr>
                                     }
                                 </tbody>
                             </table>
                         </div>



                     </div>

                 </div>

 
         </div>

     </div>
</section>

@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            //getJobDescriptionType();
        });

    </script>
}