@model KGERP.Models.GetEmployeePasswordVM
@{
    ViewBag.Title = "GetEmployeePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .password-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .password-field {
        padding-right: 30px; /* Adjust to make space for the button */
    }

    .toggle-password {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }

        .toggle-password i {
            color: #007bff;
            font-size: 16px;
        }
</style>
<section class="content-header">
    <h3>
        Employee Password List
    </h3>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">

                        <hr />
                        <div class="table-responsive">
                            <table id="employeeTable" style="width:100%; background-color:#ccc;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Password</th>
                                        <th style="text-align:end">Date</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }

                                <tbody>
                                    @foreach (var item in Model.EmployeePasswordList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.EmployeeName</td>
                                            <td>@item.EmployeeCode</td>
                                            <td style="width:15%">
                                                <span class="password-container">
                                                    <input style="border:none" type="password" class="password-field" value="@item.EmployeePassword" readonly />

                                                    <button type="button" class="toggle-password">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </span>
                                            </td>
                                            <td style="text-align:end">@item.CreateDate.Value.ToShortDateString()</td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize DataTable
            $('#employeeTable').DataTable({
                "pageLength": 25, // Set the default number of entries per page
                "lengthMenu": [[25, 50, -1], [25, 50, "All"]], // Options for the number of entries per page
                "dom": 'Bfrtip', // Position of Buttons
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

            $('#employeeTable').on('click', '.toggle-password', function () {
                debugger
                var passwordField = $(this).siblings('.password-field');
                var icon = $(this).find('i');

                if (passwordField.attr('type') === 'password') {
                    passwordField.attr('type', 'text');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    passwordField.attr('type', 'password');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });

    </script>
}
