@model KGERP.Service.Implementation.Production.VMProdReference
@using KGERP.Utility;

@{
    ViewData["Title"] = "Daily Packaging List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}
<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }

</style>
<section class="content-header">
    <h3><span>Daily Production List</span></h3>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Packaging List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    @using (Html.BeginForm("KPLProdReferenceList", "Production", FormMethod.Post, new { @class = "formValidator" }))
                    {
                        @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyId" })
                        <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="KgErpDataTable" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Reference NO</th>
                                    <th>Reference Date</th>
                                    <th>Customer</th>                                     
                                    <th>Order No</th>                                     
                                    <th>Order Date</th>                                    
                                    <th>PO NO</th>                                    
                                    <th>Submission</th>
                                    <th style="text-align:center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                <tr>
                                    <th>@(++sl)</th>
                                    <td><a target="_blank" href="~/Report/KPLProdReferenceReport?prodReferenceId=@item.ProdReferenceId&companyId=@item.CompanyFK">@item.ReferenceNo</a></td>
                                    <td>@item.ReferenceDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.CustomerBy </td>
                                    <td>@item.OrderMaterNo</td>
                                    <td>@item.FromDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.CustomerPONo</td>

                                    <td>
                                        @if (item.IsSubmitted)
                                        {
                                            <span style="width:60px" class="text-success">
                                                Submitted
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="width:60px" class="text-danger">
                                                Submission Pending
                                            </span>

                                        }
                                    </td>
                                    <td style="text-align:center;">
                                        <a id="ProdRefeId_@item.ProdReferenceId" onclick="makeDeletable(@item.ProdReferenceId,@item.CompanyFK)" class="linkPointer text-danger" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"> <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> </a>
                                        &nbsp;
                                        <a target="_blank" href="~/Production/KPLProdReference?companyId=@item.CompanyFK&prodReferenceId=@item.ProdReferenceId" title="Details"><i class="glyphicon glyphicon-new-window"></i></a>
                                        &nbsp;
                                        <a id="ProdRefSlaveId_@item.ProdReferenceSlaveID" onclick="makeEditable('@item.ReferenceDate.ToString("dd-MM-yyyy")','@item.ProdReferenceId','@item.CompanyFK')" class="linkPointer" data-toggle="modal" data-target="#updateModal" title="Edit" data-placement="top">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("KpLProdReferenceUpdate", "Production", FormMethod.Post, new {  @class = "formValidator" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model=>model.ProdReferenceId)
    @Html.HiddenFor(model=>model.CompanyFK)


    <div class="modal fade" id="updateModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetLcValueModal()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"><b>KPL Production Reference</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Reference Date:", htmlAttributes: new { })
                                <div style="display:flex">
                                    @Html.TextBoxFor(model => model.ReferenceDate, new {  @class = "form-control datepicker", @style = "width: 240px;", @required = "required", @autocomplete = "off" })
                                </div>
                                
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





@using (Html.BeginForm("DeleteProdReferenceForKpl", "Production", FormMethod.Post))
{

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Production</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ProdReferenceId, new { id = "hdnProdReferenceId" })
                    @Html.HiddenFor(model => model.CompanyFK, new { id = "hdnCompanyId" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this Production?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnDelete" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

<script type="text/javascript">

        $(document).ready(function () {

            

        })

        let makeEditable = (dates, id, comId) => {

            $("#ReferenceDate").val(dates);
            $("#ProdReferenceId").val(id);
            $("#CompanyFK").val(comId);
        }
        let makeDeletable = (ProdReferenceId, CompanyId) => {
            $('#hdnProdReferenceId').val(ProdReferenceId);
            $('#hdnCompanyId').val(CompanyId);
            $('#deleteActionId').val(3);
        }

</script>
}

