
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.VMFeedPayment
<style>
    /* Tooltip container */


    /* Tooltip text */
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>
<div class="row">

    <div class="col-md-1"> </div>
    <div class="col-md-10">




    </div>
    <div class="col-md-1"> </div>

</div>

<div class="box">
    <div class="box-danger">
        <div class="box-header">

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="KgErpDataTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Collection No</th>
                            <th>
                                Collection Date
                            </th>
                            <th>
                                Bank
                            </th>
                            <th>
                                Bank Charge
                            </th>
                            @* <th>
                                    Reference
                                </th>
                                <th>
                                    Collected Amount
                                </th>*@
                            <th>
                                Finalize
                            </th>
                            <th>
                                Acknowledgement
                            </th>
                            <th>
                                Details
                            </th>
                        </tr>
                    </thead>
                    @{int sl = 0;
                    }
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                            <tr>
                                <td>@(++sl)</td>
                                <td>
                                    @item.PaymentNo
                                </td>
                                <td>
                                    @item.TransactionDate.ToString("dd-MMM-yyyy")
                                </td>
                                <td>
                                    @item.PaymentToHeadGLName
                                </td>
                                <td>
                                    @item.BankCharge
                                </td>
                                @*<td>
                                        @item.ReferenceNo
                                    </td>
                                    <td>
                                        @item.TotalAmount
                                    </td>*@
                                <td>
                                    @if (item.IsFinalized)
                                    {
                                        <span style="width:60px" class="text-success">
                                            Finalized
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="width:60px" class="text-danger">
                                            Pending
                                        </span>

                                    }
                                </td>

                                <td>
                                    @if (item.IsFeedVoucherCreated)
                                    {
                                        <span style="width:60px" class="text-success">
                                            Acknowledged
                                        </span>
                                    }
                                    else
                                    {
                                        <span style="width:60px" class="text-danger">
                                            Acknowledged Pending
                                        </span>

                                    }
                                </td>
                                <td>
                                    <a target="_blank" href="~/Collection/FeedCollection?companyId=@item.CompanyFK&paymentMasterId=@item.PaymentMasterId" title="Details"><i class="glyphicon glyphicon-eye-open"></i></a>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>




        </div>
        <div class="box-footer">
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $(function () {
                $('.datepicker').datepicker({
                    dateFormat: "yy/mm/dd",
                    showOn: 'both',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2001:+50"
                });
            });

        });
    </script>

}