@using KGERP.Utility
@{
    string mainbodyMasterBtnCssClass1 = "btn-danger";
    string mainbodyMasterBtnCssClass2 = "btn-danger";
    string pageHeaderIcon = "fa fa-industry";
    if (ViewData[PageInfo.btnClass1] != null)
    {
        mainbodyMasterBtnCssClass1 = Convert.ToString(ViewData[PageInfo.btnClass1]);
    }
    if (ViewData[PageInfo.btnClass2] != null)
    {
        mainbodyMasterBtnCssClass2 = Convert.ToString(ViewData[PageInfo.btnClass2]);
    }
    if (ViewData[PageInfo.PageHeaderFaIcon] != null)
    {
        pageHeaderIcon = ViewData[PageInfo.PageHeaderFaIcon] as string;
    }
}

@if (PageInfo.IsShoqPageInfo)
{
    <div class="content-header border-bottom p-1 m-1">  
    <div class="container">  
        <div class="row">  
            <div class="col-xs-12 col-md-6"> <!-- Changed col-6 to col-xs-12 col-md-6 for compatibility -->  
                <h6 class="mt-1 mb-1 text-dark" style="margin-top: 5px; margin-bottom: 5px;">   
                    <i class="@pageHeaderIcon" aria-hidden="true" title="@Common.GetCompanyName() Zone"></i>   
                    @ViewData[PageInfo.PageHeader]  
                </h6>  
            </div><!-- /.col -->  
            <div class="col-xs-12 col-md-6"> <!-- Likewise changed col-6 to col-xs-12 col-md-6 here -->  
                <ol class="breadcrumb pull-right"> <!-- Changed float-right to pull-right for Bootstrap 3 -->  
                    @if (ViewData[PageInfo.btnText1] != null && ViewData[PageInfo.PageLink1] != null)  
                    {  
                        <li class="breadcrumb-item">   
                            <a class="btn btn-xs @mainbodyMasterBtnCssClass1" href="@ViewData[PageInfo.PageLink1]">@ViewData[PageInfo.btnText1]</a>  
                        </li>  
                    }  
                    @if (ViewData[PageInfo.btnText2] != null && ViewData[PageInfo.PageLink2] != null)  
                    {  
                        <li class="breadcrumb-item">   
                            <a class="btn btn-xs @mainbodyMasterBtnCssClass2" href="@ViewData[PageInfo.PageLink2]">@ViewData[PageInfo.btnText2]</a>  
                        </li>  
                    }  
                </ol>  
            </div><!-- /.col -->  
        </div><!-- /.row -->  
    </div><!-- /.container -->  
</div>
}

