@model KGERP.Service.SalesManagementVM
@{
    ViewBag.Title = "KG Companies Sales Planning";
}

<h2>KG Companies Sales Planning</h2>

<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" class="table table-striped" width="100%">
        <thead class="thead-light">
            <tr>
                <th>Sl</th>
                <th>Sales Title</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Targeted Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int sl = 0;}
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td>@(++sl) </td>
                    <td>@item.AchievementTitle</td>
                    <td>@item.FromDate</td>
                    <td>@item.ToDate</td>
                    <td>
                        @item.TargetAmount - <span class="amount-in-words"></span> BDT
                    <td>
                        <a href="@Url.Action("AssignSalesTarget", "SalesManagement", new { KGCompanySaleTergetId = item.KGCompanySaleTergetId })">
                            <i class="glyphicon glyphicon-share"></i>
                        </a>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#KgErpDataTable tbody tr').each(function() {
                var targetAmount = $(this).find('td:nth-child(3)').text().trim();
                var amountInWords = convertNumberToWords(parseInt(targetAmount.replace(/,/g, ''))); 
                $(this).find('.amount-in-words').text(amountInWords); 
            });
        });</script>
}