@model KGERP.Service.Implementation.EmployeeResults.EmployeeResultsVM

@{
    ViewBag.Title = "Annual Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
 
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Annual Performance @Model.APRNO
        </span>


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Annual Performance </li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="box">
             

            <div class="box-danger">

             
                <div class="box-body">
                    @if (Model.AnnualPerformanceId > 0)
                    {


                        <div class="col-md-1"> </div>
                        <div class="col-md-10">
                            <table class="table">
                                <tr>
                                    <th style="width:18%">
                                        APR NO
                                    </th>
                                    <th style="width:2%">:</th>
                                    <td style="width:30%" colspan="4">
                                        <label class="col-form-label">@Model.APRNO</label>


                                    </td>

                                </tr>

                                <tr>
                                    <th>Assessment From</th>
                                    <th>:</th>
                                    <td>@Model.AssessmentFrom.ToString("dd-MMM-yyyy")</td>
                                    <th>Assessment To</th>
                                    <th>:</th>
                                    <td>@Model.AssessmentTo.ToString("dd-MMM-yyyy")</td>

                                </tr>

                                <tr>
                                    <th>Created By</th>
                                    <th>:</th>
                                    <td>@Model.CreatedBy</td>
                                    <th>Created Date</th>
                                    <th>:</th>
                                    <td>@Model.CreatedDate.Value.ToString("dd-MMM-yyyy")</td>

                                </tr>

                            </table>
                        </div>
                        <div class="col-md-1"> </div>
                    }
             
                    <div class="box-footer">
                        
                    </div>


                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="KgErpDataTable" class="table table-striped" width="100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>Sl</th>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Application Date</th>
                                    <th class="text-center">Application</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int sl = 0;}
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>

                                        <td>@(++sl) </td>
                                        <td>@item.EmployeeCode</td>
                                        <td> 
                                        
                                            <a href="~/EmployeeResult/EmployeeResultDetail?annualPerformanceId=@item.AnnualPerformanceId&empId=@item.EmployeeId&annualPerformanceDetailId=@item.AnnualPerformanceDetailId" target="_blank">@item.EmployeeName</a>
                                        </td>
                                        <td>@item.CreatedDate.Value.ToString("dd-MMM-yyyy")</td>
                                        <td class="text-center">
                                            @if (item.IsSubmited)
                                            {
                                                <span class="btn btn-primary btn-sm">Submited</span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-danger btn-sm">Processing</span>
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.Status==1)
                                            {
                                                <span class="btn btn-success btn-sm">Approved</span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-danger btn-sm">Processing</span>
                                            }
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>



                </div>
                <div class="box-footer">
                   
                </div>
            </div>
        </div>
    </div>
</section>
 
 

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
         

    </script>
}


