@model KGERP.Service.HR_Pay_Roll_Service.ParollServices.PRoll_BonusVm
@using KG.Core.Services

@{
    ViewBag.Title = "Add Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>&nbsp;</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Payroll</li>
    </ol>
</section>

@using (Html.BeginForm(Model.BonusId > 0 ? "EditPayRollBonus" : "AddPayRollBonus", "Payroll", FormMethod.Post, new { id = "AddPayRollFid", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-danger">
                        <div class="box-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.BonusId) 
                            @Html.HiddenFor(model => model.CompanyId) 
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label> Months </label>
                                        @Html.DropDownListFor(model => model.Month, Model.MonthList as SelectList, "==Select Month ==", new { id = "ddlMonth", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"> Years<b style="color:red"> *</b> </label>
                                        @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearsList, "Value", "Text"), "---Select Years---", new { id = "Year", @class = "searchingDropdown  customStyle", @style = "width: 100%;", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">BonusTitle:</label>
                                        @Html.TextAreaFor(model => model.BonusTitle, new { id = "txtBusinessAddress", @class = "form-control", @placeholder = "BonusTitle", @Rows = 1 })
                                        @Html.ValidationMessageFor(model => model.BonusTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">
                                            <i class='fa @if(Model.BonusId > 0) {<text>fa-save</text>} else {<text>fa-edit</text>} '></i>
                                            @if (Model.BonusId > 0)
                                            {<text>Update</text>}
                                        else
                                        {<text>Add</text>}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
