@model KGERP.Service.HR_Pay_Roll_Service.Food_Bill_Services.FoodBillViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "FoodBillList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3> Food Bill List </h3>
        </div>
    </div>
</section>
<a href="~/FoodBill/Add_Food_Bills?companyId=@Model.CompanyId" class="btn btn-primary pull-right">Add New</a>
<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Company Name</th>
                <th>Month</th>
                <th>Year</th>
                <th>Remarks</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;}
        <tbody>
            @foreach (var item in Model.FoodBillList)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td> @item.CompanyName</td>
                    <td> @((MonthList)item.Month) </td>
                    <td> @item.Year </td>
                    <td> @item.Remarks </td>
                    <td> @item.CreatedBy</td>
                    <td> @item.CreatedDate.ToShortDateString()</td>
                    <td>
                        <a href="/FoodBill/Detalis?id=@item.FoodBillId" target="_blank" class="btn btn-warning btn-xs">
                            Details
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

