@model KGERP.Service.HR_Pay_Roll_Service.PayRoll_Payment_Purpose_service.PRoll_PaymentPurposeVm

@using KGERP.Utility
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3> Purpose </h3>
        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <a class="btn btn-info" href="~/PayRollPayment/AddPayPaymentPurpose">
                <i class="fa fa-user "></i>Add Payment Purpose
            </a>
        </li>
    </ol>
</section>

<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Payment Purpose Id</th> 
                <th>Name</th> 
                <th>Created By</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;}
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td> @item.PaymentPurposeId</td>
                    <td> @item.Name</td>  
                    <td> @item.CreatedBy</td>
                    <td> @item.CreatedDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-info btn-xs" href="~/PayRollPayment/EditPayPaymentPurpose?PaymentPurpose=@item.PaymentPurposeId">Edit</a>
                        <a class="btn btn-danger btn-xs" href="~/PayRollPayment/DeletePayRollPurpose?PaymentPurpose=@item.PaymentPurposeId">Delete</a>

                    </td>
                

                </tr>
            }
        </tbody>
    </table>
</div>

