@model KGERP.Service.Implementation.CurrencyCon.CurrencyVm
@using KGERP.Utility;
@{
    ViewData["Title"] = "Audit Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;

}
<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }
</style>

<div class="text-center"  style="padding:5px; background-color:#DCEFE5" >
     <b>Add Currency</b> 
</div>


@using (Html.BeginForm("AddOrEditCurrency", "Configuration", FormMethod.Post, new { id = "auditDocumentForm", @class = "formValidator" }))
{
    <section class="content mt-2">
        <div class="box">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(x => x.CurrencyId)

            <div class="box-danger">
                <div class="box-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", rows = "1" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Sign, htmlAttributes: new { @class = "control-label " })
                                    @Html.TextBoxFor(model => model.Sign, new { @class = "form-control", rows = "1" })
                                    @Html.ValidationMessageFor(model => model.Sign, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrencyRate, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.CurrencyRate, new { @class = "form-control", rows = "1" })
                                    @Html.ValidationMessageFor(model => model.CurrencyRate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-0 mr-5 pull-right">
                        @*<button type="button" id="resetBtn" onclick="resetauditDocumentForm()" class="btn btn-primary btn-group-m">
            <i class='fa fa-refresh'></i> <span>Reset</span>
        </button>*@

                        @if (Model.CurrencyId == 0)
                        {
                            <button type="submit" id="createBtn" class="btn btn-primary btn-group-m">
                                <i class='fa fa-plus'></i> <span id="action_btn">Save</span>
                            </button>
                        }
                        else
                        {
                            <button type="submit" id="createBtn" class="btn btn-primary btn-group-m">
                                <i class='fa fa-plus'></i> <span id="action_btn">Update</span>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@*@using (Html.BeginForm("RemoveAuditDocument", "Audit", FormMethod.Post, new { id = "deleteAuditDocumentFormsId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete  Product Requisition  Item</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id, new { id = "deletedItemId" })
                    <div style="text-align:center">
                        <h3>Are you sure to Delete this  Document?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetDeleteForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@
@section Scripts {
    <script type="text/javascript">
        

    </script>
}