@model KGERP.Service.Implementation.CurrencyCon.CurrencyVm
@using KGERP.Utility;
@{
    ViewBag.Title = "CurrencyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}


<a href="/Configuration/AddOrEditCurrency" class="btn btn-primary">Add New</a>
<table id="KgErpDataTable" class="table table-sm table-striped">
    <thead style="background-color: #dcefe5;">
        <tr>
            <th  class="p-2">S.L</th>
            <th  class="p-2">Name</th>
            <th  class="p-2">Sign</th>
            <th class="p-2">Currency Rate</th>
            <th  class="p-2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.DataList)
        {
            sl = sl + 1;
            <tr>
                <td class="p-1">@{ @sl}</td>
                <td class="p-1">@i.Name</td>
                <td class="p-1">@i.Sign</td>
                <td class="p-1">@i.CurrencyRate</td>
                <td>

                    <a id="@i.CurrencyId" href="@Url.Action("AddOrEditCurrency", new { id = i.CurrencyId })"> <i class="fa fa-edit"></i> </a>
                    <a class="text-danger" id="@i.CurrencyId" href="@Url.Action("DeleteCurrencyItem", new { id = i.CurrencyId })">   <i class="glyphicon glyphicon-trash"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>