@model  KGERP.Service.ServiceModel.FTP_Models.FileViewModel
@{
    var message = TempData["successMessage"];

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
    .custom-alert {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            নতুন নোটিশ তৈরি করুন
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">নোটিশ</li>
    </ol>
</section>


@using (Html.BeginForm("NoticeBoard", "Configuration", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formReset", id = "myForm" }))
{

    <div id="customAlert" class="custom-alert">
        <span id="alertText"></span>
    </div>
    <div class="box">
        <div class="box-danger">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group "  id="dropdownContainer">
                            @Html.Label("শিরোনাম", htmlAttributes: new { @class = "control-label" })

                            <select name="fileTitle" id="Selecttitle" class="form-control">

                                <option selected value="বহিঃ ছুটি">বহিঃ ছুটি</option>
                                <option value="পাসপোর্ট সংক্রান্ত">পাসপোর্ট সংক্রান্ত</option>
                                <option value="চাকুরী হতে অবসান">চাকুরী হতে অবসান</option>
                                <option value="চুক্তি ভিত্তিক নিয়োগ">চুক্তি ভিত্তিক নিয়োগ</option>
                                <option value="চাকুরী স্থায়ীকরণ">চাকুরী স্থায়ীকরণ</option>
                                <option value="শৃঙ্খলা জনিত">শৃঙ্খলা জনিত</option>
                                <option value="এসিআর সংক্রান্ত">এসিআর সংক্রান্ত</option>
                                <option value="বদলি/নিয়োগ">বদলি/নিয়োগ</option>
                                <option value="অবসর গ্রহণ">অবসর গ্রহণ</option>
                                <option value="অফিস আদেশ ">অফিস আদেশ </option>
                                <option value="নতুন অফিস সময়সূচী সংক্রান্ত ">নতুন অফিস সময়সূচী সংক্রান্ত</option>
                                <option value="ব্যবসায়িক পরিকল্পনা ও বাজেট সংক্রান্ত ">ব্যবসায়িক পরিকল্পনা ও বাজেট সংক্রান্ত</option>
                                <option id="jk" value="অন্যান্য">অন্যান্য</option>
                            </select>
                         

                        </div>
                    </div>
                    <div id="2ndDiv" class="col-md-4" style="display:none">
                        <div class="form-group">
                            @Html.Label("অন্য শিরোনাম", htmlAttributes: new { @class = "control-label" })
                            <div style="display:flex">
                                <input type="text" name="fileTitle" id="fileTitleInput" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("তারিখ", htmlAttributes: new { @class = "control-label" })
                            <div style="display:flex">
                                @Html.TextBoxFor(model => model.Recdate, new { @class = "form-control", @id = "datepicker", data_val = "false" })

                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.Label("ফাইল বেছে নিন", htmlAttributes: new { @class = "control-label" })
                            <input name="file" type="file" accept="*" multiple />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="reset" class="btn btn-danger d-none" id="btnCancel1" style="width:100%">ক্যান্সেল </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="width:100%">সংরক্ষণ করুন </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script>
        $(document).ready(function () {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
            var yyyy = today.getFullYear();
            var hours = String(today.getHours()).padStart(2, '0');
            var minutes = String(today.getMinutes()).padStart(2, '0');
            var seconds = String(today.getSeconds()).padStart(2, '0');

            today = yyyy + '/' + mm + '/' + dd + ' ' + hours + ':' + minutes + ':' + seconds;

            $('#datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                showOn: 'both',
                buttonText: "<i class='fa fa-calendar'></i>",
                changeMonth: true,
                changeYear: true,
                yearRange: "2001:+50"
            });

            $('#datepicker').datepicker("setDate", new Date(today));
        });
        document.getElementById('myForm').addEventListener('submit', function (event) {
            var title = document.querySelector('select[name="fileTitle"]').value;
            var date = document.querySelector('input[name="Recdate"]').value;
            var file = document.querySelector('input[type="file"]').value;

            if ( date === '' || file === '') {
                event.preventDefault(); 

              

                if (date === '') {
                    showCustomAlert('Please select a date for the notice.');
                    
                }

                if (file === '') {
                    showCustomAlert('Please choose a file for the notice.');
                    
                }
            }
        });

        function showCustomAlert(message) {
            var alertBox = document.getElementById('customAlert');
            var alertText = document.getElementById('alertText');
            alertText.innerHTML = message;
            alertBox.style.display = 'block';


            setTimeout(function () {
                alertBox.style.display = 'none';
            }, 3000);
        }
        $("#2ndDiv").hide();

        // Handle change event of the dropdown
        $("#Selecttitle").change(function () {
            if ($(this).val() === "অন্যান্য") {
                // Show the second div
                $("#2ndDiv").show();

                // Set the value of the second input field based on user input
                var userInputValue = $("#fileTitleInput").val();
                $("#fileTitleInput").val(userInputValue);
                var a = $("#fileTitleInput").val();
           
            
            } else {
                // Hide the second div if the selected option is not "অন্যান্য"
                $("#2ndDiv").hide();
            }
        });

        $('#fileTitleInput').on('input', function () {
            var value1 = $(this).val();
           
            $('#jk').val(value1);
        });


        


    </script>

}













