@model KGERP.Service.Implementation.PortCountry.PortOfCountryVm
@using KGERP.Utility;
@{
    ViewBag.Title = "CurrencyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}


<a href="/Configuration/AddOrEditPortCountry" class="btn btn-primary">Add New</a>
<table id="KgErpDataTable" class="table table-sm table-striped">
    <thead style="background-color: #dcefe5;">
        <tr>
            <th class="p-2">S.L</th>
            <th class="p-2">Port Name</th>
            <th class="p-2">Country Name</th>
            <th class="p-2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.DataList)
        {
            sl = sl + 1;
            <tr>
                <td class="p-1">@{ @sl}</td>
                <td class="p-1">@i.PortName</td>
                <td class="p-1">@i.countryName</td>
                <td>

                    <a id="@i.PortOfCountryId" href="@Url.Action("AddOrEditPortCountry", new { id = i.PortOfCountryId })"> <i class="fa fa-edit"></i> </a>
                    <a class="text-danger" id="@i.PortOfCountryId" href="@Url.Action("DeletePortOfCountryItem", new { id = i.PortOfCountryId })">   <i class="glyphicon glyphicon-trash"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>