@model KGERP.Service.ServiceModel.IncentiveModels.IncentiveCalculationViewModel
@using KGERP.Utility

@{
    ViewBag.Title = "IncentiveGenerate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }
</style>
<div class="bg-w">
    <b> @Model.CompanyName - Incentive Generated list </b>
</div>



<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>FileNo</th>
                <th>Total File Value</th>
                <th class="text-center">Incentive Percentage</th>
                <th class="text-center">Incentive Amount</th>
                <th>Session</th>
                <th class="text-center"> Action </th>
            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.MappVm)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td>
                        <a href="/Report/IncentivGeneratedReport?companyId=@item.CompanyId&&MasterId=@item.MasterId" target="_blank"> @item.Fileno</a>
                    
                    </td>

                    <td>
                        @(item.RestofAmount+item.BookingAmt) TK
                    </td>
                    <td class="text-center">
                        @item.IncentivePercentage %
                    </td>

                    <td class="text-center">
                        @item.IncentiveAmount TK
                    </td>
                    <td>
                        @((MonthList)item.Month + ", "+ item.Years)
                    </td>
                    <td class="text-center">
                        <a href="/IncentiveCalculation/IncentiveGenerateDetalis?id=@item.MasterId" class="btn btn-info btn-sm" target="_blank"> <i class="glyphicon glyphicon-eye-open"></i> </a>
                        <a herf="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg"> <i class="glyphicon glyphicon-trash"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>