@model KGERP.Service.ServiceModel.IncentiveModels.IncentiveCalculationViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "IncentiveGenerateDetalis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }
</style>
<div class="bg-w">
    <b> @Model.CompanyName Incentive Generate Detalis </b>
</div>

<div class="row">
    <div class="table-responsive col-md-12">
        <table class="table">
            <tr>
                <th style="width:18%">
                    File No
                </th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    <label>@Model.Fileno</label>
                </td>
                <th style="width:18%"> Incentive Date</th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    @((MonthList)Model.Month + ", "+ Model.Years)
                </td>
            </tr>


            <tr>
                <th style="width:18%">
                    Total File Value
                </th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    <label>@(Model.RestofAmount+Model.BookingAmt)</label>
                </td>
                <th style="width:18%"> Incentive Percentage</th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    @Model.IncentivePercentage %
                </td>
            </tr>
            <tr>
                <th style="width:18%">
                    Incentive Amount
                </th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    @Model.IncentiveAmount
                </td>
                <th style="width:18%"> Collaction Percentage</th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    @Model.CollactionPercentage %
                </td>
            </tr>
        </table>
    </div>
    </div>
    <div class="table-responsive col-md-12">
        <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Emaployee</th>
                    <th class="text-center">Incentive Percentage</th>
                    <th class="text-center">Incentive Amount</th>
                </tr>
            </thead>
            @{int sl = 0;
            }
            <tbody>
                @foreach (var item in Model.IncentiveDetailsList)
                {
                    <tr>
                        <td>@(++sl)</td>
                        <td>@item.EmployeeName</td>
                        <td class="text-center">@item.Commission %</td>
                        <td class="text-center">@item.Amount TK</td>

                    </tr>
                }
                <tr>
                    <td class="text-right" colspan="2"> <b> Total</b></td>
                    <td class="text-center"> <b> @Model.TotalPercentage %</b></td>
                    <td class="text-center"> <b> @Model.Totalsum TK</b></td>
                </tr>
            </tbody>
        </table>
    </div>
