@model KGERP.Service.Configuration.VMPackagingPurchaseRequisition
@using KGERP.Utility;

@{
    ViewData["Title"] = "Packaging Pending Issue Item List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;

}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .hasDatepicker {
        position: relative;
        z-index: 9999;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            General Pending Issue Item List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">General Pending Issue Item List</li>
    </ol>
</section>
@using (Html.BeginForm("PackagingIssueItemList", "Procurement", FormMethod.Post, new { id = "procurementvmSalesOrderListFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12  text-nowrap">
                            <table id="KgErpDataTable" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Req. No</th>
                                        <th>Req. Date</th>
                                        <th>From</th>
                                        <th>To</th>
                                        
                                        <th>Submission</th>
                                        <th>
                                            Status
                                        </th>
                                        <th style="text-align:center">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {



                                        <tr>
                                            <th>@(++sl)</th>

                                            @*<td>
                                                    <a style="color:blue" href="~/Report/PackagingIssueProductReport?IssuedMasterId=@item.IssueMasterId" target="_blank"> @item.IssueNo </a>
                                                </td>*@
                                            <td>@item.RequisitionNo</td>
                                            <td>@item.RequisitionDate.Value.ToShortDateString()</td>
                                            <td>@item.FromRequisitionName</td>
                                            <td>@item.ToRequisitionName</td>
                                            <td>
                                                @if (item.IsSubmited)
                                                {
                                                    <span class="btn btn-success btn-xs">
                                                        Submitted
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="btn btn-warning btn-xs">
                                                        Submission Pending
                                                    </span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.RequisitionStatus == "N")
                                                {
                                                    <span class="btn btn-info btn-xs">
                                                        New
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="btn btn-primary btn-xs">
                                                        Issued
                                                    </span>
                                                }

                                            </td>

                                            <td style="text-align:center">
                                                @*<a onclick="makeEditble(@item.IssueMasterId,@item.RequisitionId,'@item.RequisitionNo','@item.IssueDate',@item.FromDepartmentIssueId,'@item.IssueBy',@item.IssueById,)" class="linkPointer" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                    &nbsp;
                                                    <a onclick="makeDeletale(@item.IssueMasterId)" class="linkPointer"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                    &nbsp;*@
                                                <a target="_blank" href="~/Procurement/PackagingGIssueProductFromStore?companyId=20&issueMasterId=0&RequisitionId=@item.RequisitionId" title="Details">Issue</a>

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>


}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">

        let RequisitionMasterGETData = (requisitionId) => {
            let rData = HttpRequest.AjaxData("POST", '/Procurement/GetResuisitionDataByRequisitionId', { 'requisitionId': requisitionId });
            if (rData != null) {
                $(".ui-datepicker-trigger").addClass("hidden");
                $("#RequisitionDate").val(rData.RequisitionDateMsg);
                $("#FromDepartmentReqId").val(rData.FromRequisitionId);
                $("#ToDepartmentReqId").val(rData.ToRequisitionId);
                $("#ToDepartmentIssueId").val(rData.FromRequisitionId);
                $("#hdnToDepartmentIssueId").val(rData.FromRequisitionId);


            }
        }

        function saveSuccess(data) {
            if (data.result == 1) {
                $.alert.open({
                    type: 'Success',
                    content: data.message,
                    callback: function () {
                        location.reload(true);
                    }
                });
            }
            else {
                $.alert.open("error", data.message);
            }
        }

        $(document).ready(function () {

            $('#modalDiv').on('hidden.bs.modal', function () {
                $("#txtRequisitionNo").val('');
                $("#ddlRequisitionId").val('');
                $("#IssueDate").val(null);
                $("#FromDepartmentIssueId").val('');
                $("#txtEmployeeKGId").val('');
                $("#ddlREmployeeKGId").val('');
                $("#hdnIssuedMasterId").val('');
                $("#txtRequisitionNo").val('');
                $("#RequisitionDate").val('');
                $("#FromDepartmentReqId").val('');
                $("#ToDepartmentReqId").val('');
                $("#ToDepartmentIssueId").val('');
                $("#hdnToDepartmentIssueId").val('');
            })

            $("#txtRequisitionNo").change(function () {
                var newValue = $(this).val();
                RequisitionMasterGETData(newValue);
            });

            $("#txtEmployeeKGId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url:"@Url.Action("getallEmployeeId", "Configuration")",
                        data: { prefix: request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log('data', data);
                            response($.map(data, function (item) {
                                return item;
                            }));
                        },
                        error: function (response) {
                            // Handle error
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            // Handle failure
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    console.log(i);
                    $("#ddlREmployeeKGId").val(i.item.val);
                    $('#ddlREmployeeKGId').focus();
                }
            });
        })
    </script>
}

