@model IEnumerable<KGERP.Service.ServiceModel.AttendanceSummaryVM>
@{

    ViewBag.Title = "Attendance Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int officeId = ViewBag.officeId ?? 1;
}
<link href="~/Content/CustomCss/search-form.css" rel="stylesheet" />
<section class="content-header">
    <h3>
        Attendance list
    </h3>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">

                        @using (Html.BeginForm("AttendanceSummary", "Attendence", FormMethod.Get, new { @class = "formValidator" }))
                        {
                            <div class="row">
                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.Editor("fromDateString", new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessage("fromDateString", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.Editor("toDateString", new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessage("toDateString", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    @Html.Label("Office Type", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    <select class="form-control" name="officeid">
                                        <option>--Select--</option>
                                        <option value="1" @(officeId == 1 ? "selected" : "")>Head Office</option>
                                        <option value="2" @(officeId == 2 ? "selected" : "")>Chatbari</option>
                                        <option value="3" @(officeId == 3 ? "selected" : "")>Savar Packeging</option>
                                        <option value="5" @(officeId == 5 ? "selected" : "")>Bazaar</option>
                                        <option value="6" @(officeId == 6 ? "selected" : "")>KGeCom</option>
                                    </select>

                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ccc;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Employee ID</th>
                                        <th>Name</th>
                                        <th>Company</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th>Attendance Date</th>                                      
                                        <th>Status</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.EmployeeId</td>
                                            <td>@item.EmployeeName</td>
                                            <td>@item.CompanyName</td>
                                            <td>@item.DepartmentName</td>
                                            <td>@item.DesignationName</td>
                                            <td>@item.AttendanceDate.ToString("dd-MM-yyyy")</td>
                                            <td>@item.AttendanceStatus</td>
                                            <td>@item.Remarks</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "yy-mm-dd",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        if (message) {
            alert(message);
        }
    </script>
}

