@model KGERP.CustomModel.AttendanceVm
@{
    ViewBag.Title = "GetExecution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}
@using (Html.BeginForm("MachinedataExecution", "Attendence", FormMethod.Post, new { @class = "formValidator" }))
{
    <div class="col-md-3">
        <div class="form-group">
            @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
            <br />
            @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
        </div>
        <input type="submit" class="btn btn-primary" />

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        if (message) {
            alert(message);
        }
    </script>
}