@model KGERP.Service.HR_Pay_Roll_Service.ParollServices.PRoll_BonusVm

@using KGERP.Utility
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-4">
            <h3> Payroll List </h3>
        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <a class="btn btn-info" href="~/Payroll/AddPayRollBonus?companyId=@Model.CompanyId">
                <i class="fa fa-user "></i>Add PayRollBonus
            </a>
        </li>
    </ol>
</section>

<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Title</th>
                <th>Month</th>
                <th>Year</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;}
        <tbody>
            @foreach (var item in Model.DataListDetail)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td> @item.BonusTitle</td>
                    <td> @((MonthList)item.Month) </td>
                    <td> @item.Year </td>
                    <td> @item.CreatedBy</td>
                    <td> @item.CreatedDate.ToShortDateString()</td>
                    <td>
                        @if (item.IsClose)
                        {
                            <span  class="btn btn-success btn-xs">Successfully Processed </span>
                        }
                        else
                        {
                            <a class="btn btn-danger btn-xs" href="#">Process</a>
                                         <a class="btn btn-info btn-xs"  href="~/Payroll/DeletePayRollBonus?CompanyId=@item.CompanyId&BonusId=@item.BonusId">Delete</a>
                                         <a class="btn btn-info btn-xs"  href="~/Payroll/EditPayRollBonus?bonusId=@item.BonusId">Edit</a>
                        }
                    </td>
                    @*<td>
                        <a class="btn btn-primary btn-xs" target="_blank" href="~/Report/SalarySheetCompanyWiseReport?CompanyId=@item.CompanyId&PayRollId=@item.BonusId&reportType=PDF">PDF</a>
                        <a class="btn btn-success btn-xs" target="_blank" href="~/Report/SalarySheetCompanyWiseReport?CompanyId=@item.CompanyId&PayRollId=@item.BonusId&reportType=EXCEL">Excel</a>
                        <a class="btn btn-info btn-xs"  href="~/Payroll/PayRollDetails?CompanyId=@item.CompanyId&PayRollId=@item.BonusId">Bank</a>

                    </td>*@

                </tr>
            }
        </tbody>
    </table>
</div>

