@model KGERP.Service.HR_Pay_Roll_Service.SpecialAddition.SpecialAdditionViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "MobileBillList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }
</style>
<div class="bg-w">
    <b> Special Addition list </b>
</div>
<a href="~/PRoll_SpecialAddition/Add_SpecialAddition?companyId=@Model.CompanyId" class="btn btn-primary pull-right">Add New</a>


<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Company</th>
                <th>Date</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.SpecialAditionList)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td> @item.CompanyName</td>
                    <td>
                        @((MonthList)item.Month + ", "+ item.Year)
                    </td>
                    <td> @item.CreatedBy</td>
                    <td> @item.CreatedDate.ToShortDateString()</td>
                    <td class="text-center">

                        <a href="/PRoll_SpecialAddition/Detalis?id=@item.SpecialAdditionId" target="_blank" class="btn btn-warning btn-xs">
                            Details
                        </a>

                        @*<a href="/PRoll_MobileBill/Delete?id=@item.MobileBillId" onclick="return confirm('Are you sure you want to delete?');" title="Delete Employee" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                            </a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

