@model KGERP.Service.ServiceModel.EmployeeVm
@{
    ViewBag.Title = "SignatureList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var sl = 0;
}
<h2>SignatureList</h2>

<table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Designation Name</th>
            <th>Mobile No</th>
            <th>Office Email</th>
            <th>Joining Date</th>
            <th>Signature</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DataList)
        {
          
            <tr>
                <td>@(sl += 1)</td>
                <td>@item.EmployeeId</td>
                <td>@item.EmployeeName</td>
                <td>@item.DesignationName</td>
                <td>@item.MobileNo</td>
                <td>@item.OfficeEmail</td>
                <td>@item.JoiningDate</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.SainatureName))
                    {
                        <img src="@Url.Content("~/Images/Picture/" + item.SainatureName)" alt="Signature" style="max-width: 50px; max-height: 50px;" />
                    }
                    else
                    {
                        <span>No signature</span>
                    }
                </td>
                <td>
                    <a href="/Employee/GetSignature?EmpID=@item.Id" target="_blank" class="btn btn-warning btn-xs">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>