@model KGERP.Service.Implementation.Audit.ViewModels.PreservingAuditDocumentVM
@{
    ViewBag.Title = "CustomerUplode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: #b0e9b2;
        padding: 4px 0px;
        margin-bottom: 14px;
        font-weight: 900;
    }
</style>


<div class="row">
    <div class="table-responsive col-md-12">

        <div class="text-center border raw  ">  
            <p style="font-size:25px;">Document Number: <span class="text-primary">@Model.DocumentNo</span></p>
</div>
<hr />
<div class=""  >
    
    <div >
        <div class="col-md-12" style="background-color: #F1EEEE !important; padding:15px; ">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table">

                    <tr>
                        <th style="width: 18%; ">
                            Company Name
                        </th>
                        <th style="width: 2%; ">:</th>
                        <td style="width:30%;">
                            @Model.CompanyName
                        </td>
                        <th style="width:18%"> Type</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.Type
                        </td>
                    </tr>
                    <tr>
                        <th style="width:18%">
                            Audit Recommendation Primary
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.AuditRecommendationPrimary
                        </td>
                        <th style="width:18%"> Audit Recommendation Final</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.AuditRecommendationFinal
                        </td>
                    </tr>
                    <tr>
                        <th style="width:18%">
                            Observation
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.Observation
                        </td>
                        <th style="width:18%"> Concerned Feedback</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.ConcernedFeedback
                        </td>
                    </tr>
                    <tr>
                        <th style="width:18%">
                            Year
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.Year
                        </td>
                        <th style="width:18%"> Month Name</th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.MonthName
                        </td>
                    </tr>
                    <tr>
                        <th style="width:18%">
                            Proceduree Applied
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.ProcedureeApplied
                        </td>
                        <th style="width:18%">Created By </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.CreatedBy
                    </td>
                </tr>
                    <tr>
                        <th style="width:18%">
                            Title
                        </th>
                        <th style="width:2%">:</th>
                        <td style="width:30%">
                            @Model.Title
                        </td>
                        <th style="width:18%"></th>
                        <th style="width:2%"></th>
                        <td style="width:30%">
                        </td>
                    </tr>





                </table>
                    </div>
                    <div class="col-md-1"></div>

                </div>

            </div>
            <div class="box-footer">

            </div>
        </div>

    </div>
</div>
<div style="border:2px solid #e1dbdb;">
    <fieldset class="border shadow  p-2" style="background-color:;padding:10px">

        @using (Html.BeginForm("CommonAuditFileuplode", "Audit", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formReset" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.CompanyId)

            <div class="table-wrapper attachment">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Add New File</h2></div>

                        <div class="col-sm-4 text-right">
                            <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-sm" id="attachmentTable">
                    <thead>
                        <tr>

                            <th style="width:30px">SL#</th>
                            <th style="width:200px">Attachment Title</th>
                            <th style="width:200px">File</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @for (int o = 0; o < Model.Attachments.Count(); o++)
                        {
                            <tr>
                                <td class="sl"> @(o+1)</td>
                                <td hidden="hidden"> <input value="@Model.Attachments[@o].DocId" name="Attachments[@o].DocId" /> </td>
                                <td hidden="hidden"> <input value="@Model.Attachments[@o].DocId" name="Attachments[@o].DocId" /> </td>
                                <td><input class="form-control" readonly name="Attachments[@o].Title" value="@Model.Attachments[@o].Title" /></td>
                                <td style="text-align:center">
                                    <input class="form-control-file hidden" type="file" name="Attachments[@o].File" />

                                    <a target="_blank" class="btn btn-primary btn-sm" title="Download File" href="/Upload/DownloadFTP?docid=@Model.Attachments[o].DocId"> <i class="glyphicon glyphicon-download"> </i> </a>


                                </td>
                                @*<td style="text-align:center">
                                    <a class="delete glyphicon glyphicon-trash" onclick="DeleteAttachment(@Model.Attachments[@o].DocId,@Model.CGId,event)" title="Delete" data-toggle="tooltip">

                                    </a>
                                </td>*@
                            </tr>
                        }
                    </tbody>

                </table>

                <div class="form-group row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary" onsubmit="return submit2()" id="btnFArchive1">Upload</button>
                        <button type="reset" class="btn btn-danger d-none" id="btnCancel1">Cancel </button>
                    </div>
                </div>
            </div>

        }
    </fieldset>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

<script>

        function myfunc() {

            $('#attachmentTable > tbody  > tr').each(function (index, tr) {
                $(tr).find(".sl").html(index + 1);
                $(tr).find(".docid").attr("name", "Attachments[" + index + "].DocId")
                $(tr).find(".title").attr("name", "Attachments[" + index + "].Title")
                $(tr).find(".file").attr("name", "Attachments[" + index + "].File")

                console.log(tr);
            });
            //console.log(valueList);

            //console.log("(" + valueList.join("),(") + ")");
        }


        function collaction(InstallmentId) {

            $("#InstallmentId").val(InstallmentId);
        }



        $(document).ready(function () {
            $(".alert-danger").hide();
            $('[data-toggle="tooltip"]').tooltip();
            var actions = '<a class="delete glyphicon glyphicon-trash" onclick="DeleteAttachment(0,0,event)" title="Delete" data-toggle="tooltip"></a>';
            // Append table with add row form on add new button click
            $(".add-new").click(function () {
                /*$(this).attr("disabled", "disabled");*/
                var index = $("#attachmentTable tbody tr:last-child").index();
                var row = '<tr>' +
                    '<td class="sl"></td> <td hidden="hidden"> <input class="docid" value="0" name="Attachments[0].DocId" /> </td>' +
                    '<td><input class="form-control title" required  name="Attachments[0].Title"/></td>' +
                    '<td><input class="form-control-file file" required type="file" name="Attachments[0].File"/></td>' +
                    '<td style="text-align:center">' + actions + '</td>' +
                    '</tr>';
                $("#attachmentTable").append(row);
                myfunc();
                /*$("#attachmentTable tbody tr").eq(index + 1).find(".add, .edit").toggle();*/
                /*$('[data-toggle="tooltip"]').tooltip();*/
            });
            //#attachmentTable

            // Add row on add button click
            $(document).on("click", ".add", function () {
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function () {
                    if (!$(this).val()) {
                        $(this).addClass("error");
                        empty = true;
                    } else {
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();
                if (!empty) {
                    input.each(function () {
                        $(this).parent("td").html($(this).val());
                    });
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function () {
                $(this).parents("tr").find("td:not(:last-child)").each(function () {
                    $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });



        });



        function DeleteAttachment(docid, cgid, event) {
            var x = event;
            console.log(event);
            $.confirm({
                title: "",
                content: "<span class='alert_content'> Do you want to delete this file? </span>",
                columnClass: 'small',
                buttons: {
                    confirm: {
                        text: "<span class='alert_text'>Yes</span>",
                        btnClass: 'btn-warning',
                        keys: ['enter'],
                        action: function () {
                            if (docid > 0 && @Model.Id > 0) {
                                $.ajax({
                                    type: "post",
                                    url: "/ProductBooking/CGFileDelete",
                                    data: { docId: docid, CGId:@Model.Id},
                                    datatype: "json",
                                    traditional: true,
                                    success: function (data) {
                                        console.log(data);
                                        location.reload();
                                        //if (data) {
                                        //    $(x.path[2]).remove();
                                        //    myfunc();
                                        //} else {

                                        //}
                                    }
                                });

                            } else {
                                $(x.path[2]).remove();
                                //$(".add-new").removeAttr("disabled");
                            }

                            myfunc();
                        }
                    },
                    cancel: {
                        text: "No",
                        btnClass: 'btn-blue',
                        keys: ['esc'],
                        //action: function () {
                        //    $(x.path[3]).remove();
                        //    //$(".add-new").removeAttr("disabled");
                        //    myfunc();
                        //}
                    }
                }
            });

        }
</script>

}
