@model List<KGERP.Service.Implementation.General_Requisition.ViewModels.RequisitionSignatoryVM>
@{ 
    int i = 1;
}
@if (Model != null && Model.Any())
{
    <div class="table-responsive col-md-12  text-nowrap">
        <table id="KgErpDataTable" class="table table-responsive-md table-striped table-hover">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Company</th>
                    <th>Category</th>
                    <th>Up To Amount</th>
                    <th>Signatory Name</th>
                    <th>Designation</th>
                    <th>Order By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(i++)</td>
                    <td>@item.CompanyName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Limitation</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.DesignationName</td>
                    <td>@item.OrderBy</td>

                    <td>
                        <a onclick="makeEditble(@item.RequisitionSignatoryId,'@item.CompanyId','@item.CompanyName','@item.CategoryId','@item.CategoryName',@item.EmployeeId,'@item.EmployeeName','@item.DesignationName',@item.Limitation,@item.OrderBy)" class="linkPointer" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>

                        <a onclick="makeDeletable(@item.RequisitionSignatoryId)" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}