@model KGERP.Service.Implementation.EmployeeResults.AnnualPerformanceEmpResultVM
@using KGERP.Utility;
@{
    ViewBag.Title = "AnnualPerformanceEmp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 1;
    long EmployeeId = Common.GetIntUserId();
    
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .hasDatepicker {
        position: relative;
        z-index: 9999;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            Issue Item List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">APR List</li>
    </ol>
</section>
<section class="content">
    <!-- Modal -->
    <div class="modal fade" id="commnetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Remarks of APR</h4>
                    
                </div>
                <div class="modal-body">
                    <textarea rows="1" id="aprComment"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="KgErpDataTable" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>APR No</th>
                                    <th>Assessment From</th>
                                    <th>Assessment To</th>
                                    <th>APR End Date</th>
                                    @*<th class="text-center">Comment</th>*@
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GetDDLAnnualPerformanceEmpResult)
                                {
                                    
                                    
                                <tr>
                                    <td>@sl</td>
                                    <td>@item.APRNO</td>
                                    <td>@item.AssessmentFromMsg</td>
                                    <td>@item.AssessmentToMsg</td>
                                    <td>@item.AprEndingDate.ToShortDateString()</td>
                                    @*<td class="text-center"><i onclick="commentUp('@item.Remarks')" class="btn btn-warning btn-sm fa fa-comment fa-lg" aria-hidden="true"></i></td>*@

                                    <td class="text-center">
                                        <a title="APR List"   href="/EmployeeResult/AnnualPerformanceDetailList?annualPerformanceId=@item.AnnualPerformanceId" class="btn btn-info btn-sm">Details</a>

                                    </td>

                                </tr>
                                    sl += 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript">
 
    </script>
}



