@model KGERP.Service.ServiceModel.EmployeeVm
@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var sl = 0;
}
<h2>Employee List</h2>

<table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Id</th>
            <th>Employee </th>
            <th>Department</th>
            <th>Designation</th>
            <th>Mobile No</th>
            <th>Office Email</th>
            <th>Joining Date</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DataList)
        {

            <tr>
                <td>@(sl += 1)</td>
                <td>@item.EmployeeId</td>
                <td>@item.EmployeeName</td>
                <td>@item.DepartmentName</td>
                <td>@item.DesignationName</td>
                <td>@item.MobileNo</td>
                <td>@item.OfficeEmail</td>
                <td>@item.JoiningDate</td>

                <td>
                    <a href="/JobDescription/AddJobDescription?employeeId=@item.Id" title="Job Description" target="_blank" class="btn btn-warning btn-xs">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>