@model KGERP.Service.ServiceModel.EmployeeModel
@{
    ViewBag.Title = "GetAccountNumber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AccoountNumAdd", "Employee", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
  
    <div class="tab-pane" id="tab-6" >
        <div class="panel panel-info" style="padding:15px;">
            <div class="panel-heading" style="background-color:#4CAF50;color:#FFFFFF"><b>Add Account Number</b></div>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CompanyId)
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="row">
                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label " })
                                <div>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DesignationName, htmlAttributes: new { @class = "control-label " })
                                <div class="">
                                    @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DesignationName, htmlAttributes: new { @class = "control-label " })
                                <div class="">
                                    @Html.EditorFor(model => model.DesignationName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BankBranchId, htmlAttributes: new { @class = "control-label " })
                                <select required class=" form-control col-md-12  " asp-for="BankBranchId" name="BankBranchId" id="BankBranchId">
                                    <option value="0">---Select Bank  --- </option>
                                    @{
                                        foreach (var item in Model.DropdownForBank)
                                        {
                                            if (item.Id == Model.BankBranchId)
                                            {
                                                <option value="@item.Id" selected>@item.value</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Id">@item.value</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AccouName, htmlAttributes: new { @class = "control-label " })
                                <div class="">
                                    @Html.EditorFor(model => model.AccouName, new { htmlAttributes = new { @class = "form-control"} })
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BankAccount, htmlAttributes: new { @class = "control-label " })
                                <div class="">
                                    @Html.EditorFor(model => model.BankAccount, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                    </div>

                        </div>

                    </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
