
@model KGERP.Service.ServiceModel.VmPayRoll
@{
    ViewBag.Title = "My Salaery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h3>
        My Salary
    </h3>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            My Salary
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Title</th>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.Note</td>
                                            <td>
                                                @{ 
                                                    DateTime date = new DateTime(item.Year, item.Month, 1);

                                                    string monthName =  date.ToString("MMMM");
                                                }
                                            @monthName
                                            </td>
                                            <td>@item.Year</td>
                                            <td>@item.CreatedBy</td>
                                            <td>@item.CreatedDate</td>
                                         

                                            <td>
                                                <a href="@Url.Action("MySalaeryByPayrollId","Employee", new { payRollId = item.PayRollId })" title="Export Bio-Data" target="_blank" class="btn btn-warning btn-xs">
                                                    Pay Slip
                                                </a>
                                              
                                             
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
}




