@using KG.Core.Services;

@model KGERP.Service.ServiceModel.VmPayRollDetail
@{
    Layout = null;
    decimal totalAddition = 0m;
    decimal totalDeduction = 0m;
    decimal totalNotDefined = 0m;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Pay Slip</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        /* h4 {
                    border-bottom: 2px solid black;
                    display: inline;
                }
        */
        /*.footer {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    text-align: center;
                }*/

        .trclass {
            border: 1px solid #000;
            font-size: 16px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 900px;
            margin: 0px auto;
            position: relative;
            font-size: 16px
        }




        #topLogo {
            float: left;
        }



        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }

            body {
                margin-top: 5px;
            }
            /*body {
                        margin: 1.6cm;
                    }*/
            #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }

            #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }

            a[href]:after {
                content: none !important;
            }

            #print, #print * {
                display: none !important;
            }
        }
        /*div.divfooter {
                        margin-top: 15px;
                        bottom: 0;
                        display: inherit;
                    }*/
        /*#divfooter {
                        display: block !important;
                    }*/
        }
    </style>

    <script>
        function printDiv() {
            window.print();

        }
    </script>
</head>


<body>
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page">
        <style>
            @@media print {
                @@page {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                body {
                    padding-top: 72px;
                    padding-bottom: 72px;
                }
            }
        </style>

        @*<img id="imageWaterMark" src="~/Images/Logo/Mollika Logo-01.jpg" />*@
    <div style="min-height: 900px;">
        <div class="row">
            <p style="position:absolute;right:5px; font-size:10px; font-weight: bold;margin-bottom: 0;"> @DateTime.Now.ToLongDateString()</p>
            <table width="100%">
                <tr>
                    <td style="width:20%"></td>
                    <td style="width:10%">
                        @*<img height="80" width="80" id="topLogo" src="~/Images/Logo/@Model.Companylogo" />*@

                    </td>
                    <td style="width:70%">

                        <p style="text-align: left; font-size: 25px; font-weight: bold;margin-bottom: 0;">@Model.CompanyName</p>
                        <p style="text-align: left; font-size: 16px; font-weight: bold; margin-bottom: 0;">@Model.CompanyAddress</p>
                        <p style="text-align: left; font-size: 16px; font-weight: bold;margin-bottom: 0;">  Phone : @Model.CompanyPhone, Email : @Model.CompanyEmail</p>

                    </td>
                    <td style="width:20%"></td>

                </tr>
            </table>

        </div>
        <div class="text-center">
            <table style="width:100%">
                <tr style="text-align:center">
                    <td style="font-size:22px"><b>Pay Slip of @Model.MonthName, @Model.Year </b></td>
                     </tr>
                <tr style="text-align:center">
                     <td style="border-bottom:double;font-size:16px"><b>Note: @Model.Note </b></td>
                </tr>
            </table>
        </div>


        <table id="tbl1" border="1" style="width: 100%; font-size: 16px; margin-top: 15px;">
            <thead style="background-color:#c0c0c0">

                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">Employees</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.EmployeesName</th>
                    <th style="text-align: left;padding-left:5px;width:20%">Designations</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.DesignationsName</th>
                </tr>
                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">Mobile</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.EmployeesMobileNo</th>
                    <th style="text-align: left;padding-left:5px;width:20%">Email</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.EmployeesOfficeEmail</th>
                </tr>
                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">Grades Code</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.GradesCode</th>
                    <th style="text-align: left;padding-left:5px;width:20%">Grade</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.GradesName</th>
                </tr>
                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">PABX</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.EmployeesPABX</th>
                    <th style="text-align: left;padding-left:5px;width:20%">Joining Date</th>
                    <th style="text-align: left; padding-left: 5px; width: 30%">@Model.EmployeesJoiningDate</th>
                </tr>
            </thead>
     
        </table>


        <div style="font-weight: bold;font-size: 16px"> Addition: </div>

        <table id="tbl1" border="1" style="width: 100%; font-size: 16px; margin-top: 10px;">
            <thead style="background-color:#c0c0c0">

                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">SL</th>
                    <th style="text-align: left; padding-left: 5px; width: 40%">Payment Purpose</th>
                    <th style="text-align: right; padding-left: 5px; width: 40%">Amount</th>
                </tr>

            </thead>
            @{ int sl1 = 0;}
            <tbody>
                @{
                    decimal grossSalary = Model.DataListAddition.Where(x => x.PaymentPurposeId == 17).Select(x => x.Amount).DefaultIfEmpty(0).Sum();

                    decimal sepecialAddition = Model.DataListAddition.Where(x => x.PaymentPurposeId == 23).Select(x => x.Amount).DefaultIfEmpty(0).Sum();
                    decimal transportAddition = Model.DataListAddition.Where(x => x.PaymentPurposeId == 22).Select(x => x.Amount).DefaultIfEmpty(0).Sum();
                    decimal total = grossSalary + sepecialAddition + transportAddition;
                }

                @foreach (var item in Model.DataListAddition)
                {
                    totalAddition += item.Amount;
                    <tr>
                        <td style="text-align: left;padding-left:5px;">@(++sl1)</td>
                        <td style="text-align: left;padding-left:5px;">@item.PaymentPurposeName</td>
                        <td style="text-align: right;padding-left:5px;">@item.Amount</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="font-weight: bold; font-size: 16px;">


                    <th colspan="2" style="text-align: left;">&nbsp; Total:</th>
                    <th style="text-align: right;padding-right:5px;">@total.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)</th>
                </tr>


            </tfoot>


        </table>

        <div style="font-weight: bold;font-size: 16px"> Deduction: </div>
        <table id="tbl1" border="1" style="width: 100%; font-size: 16px; margin-top: 10px;">
            <thead style="background-color:#c0c0c0">

                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">SL</th>
                    <th style="text-align: left; padding-left: 5px; width: 40%">Payment Purpose</th>
                    <th style="text-align: right; padding-left: 5px; width: 40%">Amount</th>
                </tr>

            </thead>
            @{ int sl2 = 0;}
            <tbody>
                @foreach (var item in Model.DataListDeduction)
                {
                    totalDeduction += item.Amount;
                    <tr>
                        <td style="text-align: left;padding-left:5px;">@(++sl2)</td>
                        <td style="text-align: left;padding-left:5px;">@item.PaymentPurposeName</td>
                        <td style="text-align: right;padding-left:5px;">@item.Amount</td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr style="font-weight: bold; font-size: 16px;">


                    <th colspan="2" style="text-align: left;">&nbsp; Total Deduction</th>
                    <th style="text-align: right;padding-right:5px;">@totalDeduction.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)</th>
                </tr>


            </tfoot>
        </table>

        <div style="font-weight: bold;font-size: 16px"> Company Contribution: </div>
        <table id="tbl1" border="1" style="width: 100%; font-size: 16px; margin-top: 10px;">
            <thead style="background-color:#c0c0c0">

                <tr>
                    <th style="text-align: left;padding-left:5px;width:20%">SL</th>
                    <th style="text-align: left; padding-left: 5px; width: 40%">Payment Purpose</th>
                    <th style="text-align: right; padding-left: 5px; width: 40%">Amount</th>
                </tr>

            </thead>
            @{ int sl3 = 0;}
            <tbody>
                @foreach (var item in Model.DataListNotDefined)
                {
                    totalNotDefined += item.Amount;
                    <tr>
                        <td style="text-align: left;padding-left:5px;">@(++sl3)</td>
                        <td style="text-align: left;padding-left:5px;">@item.PaymentPurposeName</td>
                        <td style="text-align: right;padding-left:5px;">@item.Amount</td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr style="font-weight: bold; font-size: 16px;">


                    <th colspan="2" style="text-align: left;">&nbsp; Total Company Contribution</th>
                    <th style="text-align: right;padding-right:5px;">@totalNotDefined.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)</th>
                </tr>


            </tfoot>


        </table>


        <table id="tbl1" border="1" style="width: 100%; font-size: 16px; margin-top: 10px;">
            <thead style="background-color:#c0c0c0">
                <tr>

                    <th colspan="2" style="text-align: left; padding-left: 5px; width: 60%">Net Payable</th>
                    <th style="text-align: right; padding-left: 5px; width: 40%">@((total - totalDeduction).ToString("0.00", System.Globalization.CultureInfo.InvariantCulture) )</th>
                </tr>

            </thead>
        </table>
    </div>




    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            SummerizeTable('#tbl1', 1);
            //SummerizeTable('#tbl1', 2);
            //SummerizeTable('#tbl1', 5);
        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>
</body>


</html>




