@model KGERP.Service.ServiceModel.PurchaseReturnVm
@{
    ViewBag.Title = "PurchaseReturnList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}

<h2>PurchaseReturnList</h2>

<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("PurchaseReturnList", "WareHouse", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                            <div class="row">
                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered border-primary" >
    <thead>
        <tr>
            <th>#</th>
            <th>Purchase Return Date</th>
            <th class="text-center">Return No</th>
            <th class="text-center">Suplier Name</th>
            <th class="text-center">Reeason</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DataList)
        {
            <tr>
                <td>@(++sl)</td>
                <td>@item.ReturnDate</td>
                <td class="text-center">@item.ReturnNo </td>
                <td class="text-center">@item.SupplierName </td>
                <td class="text-center">@item.ReturnReason </td>
                <td>
                    @*<button type="button" class="btn btn-danger" onclick="makeDelete(@item.PurchaseReturnId)"> Delete </button>
                        <button type="button" class="btn btn-primary" onclick="makeEdit(@item.Id)"> Edit </button>*@
                    <a href="@Url.Action("WareHousePurchaseReturnSlave","WareHouse",  new {CompanyId=Model.CompanyId,purchaseReturnId=item.PurchaseReturnId})" target="_blank" class="btn btn-primary btn-xs">
                        Details
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
       

    </script>
}


